Repository LerianStudio/midaz, pull requests merged in 2024-10, with the labels that each got.

#176 Fix/MZ-608
  components/ledger/internal/adapters/database/postgres/account.postgresql.go
  components/ledger/internal/app/command/create-account.go
  components/ledger/internal/app/command/update-account.go
  components/ledger/internal/domain/portfolio/account/account_repository.go
  components/ledger/internal/gen/mock/account/account_mock.go
Labels: bug

#177 Feature/MZ-598
  common/gold/transaction/model/transaction.go
  common/gold/transaction/model/validations.go
  components/transaction/internal/app/command/create-operation.go
  components/transaction/internal/ports/http/transaction.go
Labels: enhancement

#178 Feature/MZ-612
  components/ledger/internal/adapters/database/postgres/account.postgresql.go
  components/ledger/internal/app/command/delete-account.go
  components/ledger/internal/app/command/delete-account_test.go
  components/ledger/internal/app/query/get-id-account-with-deleted.go
  components/ledger/internal/app/query/get-id-account-with-deleted_test.go
  components/ledger/internal/domain/portfolio/account/account_repository.go
  components/ledger/internal/gen/mock/account/account_mock.go
  components/ledger/internal/ports/http/account.go
  components/ledger/internal/ports/http/routes.go
  postman/MIDAZ.postman_collection.json
Labels: bug

#179 Refactor/MZ-616
  common/net/http/httputils.go
  components/ledger/internal/ports/http/account.go
  components/ledger/internal/ports/http/routes.go
  postman/MIDAZ.postman_collection.json
Labels: refactor

#180 Feature/MZ-610
  components/ledger/internal/app/command/create-account.go
  components/ledger/internal/app/command/create-account_test.go
  components/ledger/internal/domain/portfolio/account/account.go
  components/ledger/internal/ports/http/account.go
  components/ledger/internal/ports/http/routes.go
  postman/MIDAZ.postman_collection.json
Labels: bug

#181 Feature/MZ-611
  components/ledger/internal/adapters/database/postgres/account.postgresql.go
  components/ledger/internal/app/command/update-account.go
  components/ledger/internal/app/command/update-account_test.go
  components/ledger/internal/domain/portfolio/account/account_repository.go
  components/ledger/internal/gen/mock/account/account_mock.go
  components/ledger/internal/ports/http/account.go
  components/ledger/internal/ports/http/routes.go
  postman/MIDAZ.postman_collection.json
Labels: refactor
