Repository LerianStudio/midaz, pull requests merged in 2024-12, with the labels that each got.

#338 Fix/MIDAZ-334
  components/ledger/internal/services/command/delete-account.go
  components/ledger/internal/services/command/update-account.go
  pkg/constant/errors.go
  pkg/errors.go
  pkg/mmodel/account.go
Labels: bug, domain:onboarding, domain:portfolio

#352 Feature/MIDAZ-314
  components/transaction/internal/adapters/postgres/transaction/transaction.postgresql.go
Labels: bug, domain:transactions

#351 Feature/MIDAZ-350
  .github/workflows/update-midaz-full-submodule.yml
  .github/workflows/update-swagger-on-git-page.yml
  components/ledger/api/docs.go
  components/ledger/api/swagger.json
  components/ledger/api/swagger.yaml
  components/ledger/cmd/app/main.go
  components/transaction/api/docs.go
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/cmd/app/main.go
Labels: feature request, infra

#357 fix: unify codeql/lint/sec/unit :bug:
  .github/workflows/codeql.yml
  .github/workflows/go-combined-analysis.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/gosec.yml
  .github/workflows/midaz-update-repos.yml
  .github/workflows/test_integration_cli.yml
  .github/workflows/unit-tests.yml
  .github/workflows/update-env-version.yml
  .github/workflows/update-midaz-full-submodule.yml
Labels: feature, test, refactor, feature request, infra

#362 Refactor/MIDAZ-353
  components/auth/setup/00_init.sql
  components/auth/setup/init_data.json
  components/ledger/internal/services/query/get-all-organizations.go
  components/transaction/api/docs.go
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/internal/adapters/http/in/assetrate.go
  components/transaction/internal/adapters/http/in/routes.go
  components/transaction/internal/adapters/postgres/assetrate/assetrate.go
  components/transaction/internal/adapters/postgres/assetrate/assetrate.mock.go
  components/transaction/internal/adapters/postgres/assetrate/assetrate.postgresql.go
  components/transaction/internal/services/command/create-assetrate.go
  components/transaction/internal/services/command/create-assetrate_test.go
  components/transaction/internal/services/query/get-all-assetrates-assetcode.go
  components/transaction/internal/services/query/get-all-assetrates-assetcode_test.go
  components/transaction/internal/services/query/get-external-id-assetrate.go
  components/transaction/internal/services/query/get-external-id-assetrate_test.go
  components/transaction/migrations/000002_create_asset_rate_table.up.sql
  pkg/constant/http.go
  pkg/mpointers/pointers.go
  pkg/net/http/httputils.go
  pkg/net/http/withBody.go
  postman/MIDAZ.postman_collection.json
Labels: documentation, feature, refactor, domain:onboarding, domain:transactions

#363 Fix/MIDAZ-359
  pkg/mmodel/account.go
Labels: bug, domain:portfolio

#365 Feature/midaz 360
  components/transaction/Makefile
  pkg/gold/Transaction.g4
  pkg/gold/parser/Transaction.interp
  pkg/gold/parser/Transaction.tokens
  pkg/gold/parser/TransactionLexer.interp
  pkg/gold/parser/TransactionLexer.tokens
  pkg/gold/parser/transaction_base_listener.go
  pkg/gold/parser/transaction_base_visitor.go
  pkg/gold/parser/transaction_lexer.go
  pkg/gold/parser/transaction_listener.go
  pkg/gold/parser/transaction_parser.go
  pkg/gold/parser/transaction_visitor.go
  pkg/gold/transaction/model/transaction.go
  pkg/gold/transaction/parse.go
Labels: feature, refactor, domain:transactions

#370 Test/MIDAZ-340
  components/ledger/internal/adapters/http/in/ledger.go
  components/ledger/internal/adapters/http/in/routes.go
  components/ledger/internal/adapters/mongodb/metadata.mock.go
  components/ledger/internal/adapters/mongodb/metadata.mongodb.go
  components/ledger/internal/adapters/postgres/product/product.mock.go
  components/ledger/internal/services/command/create-account_test.go
  components/ledger/internal/services/command/create-asset_test.go
  components/ledger/internal/services/command/create-ledger.go
  components/ledger/internal/services/command/create-ledger_test.go
  components/ledger/internal/services/command/create-metadata_test.go
  components/ledger/internal/services/command/create-organization_test.go
  components/ledger/internal/services/command/create-portfolio_test.go
  components/ledger/internal/services/command/create-product_test.go
  components/ledger/internal/services/command/delete-account_test.go
  components/ledger/internal/services/command/delete-asset_test.go
  components/ledger/internal/services/command/delete-ledger_test.go
  components/ledger/internal/services/command/delete-metadata_test.go
  components/ledger/internal/services/command/delete-organization_test.go
  components/ledger/internal/services/command/delete-portfolio_test.go
  components/ledger/internal/services/command/delete-product_test.go
  components/ledger/internal/services/command/update-account-id_test.go
  components/ledger/internal/services/command/update-account_test.go
  components/ledger/internal/services/command/update-asset_test.go
  components/ledger/internal/services/command/update-ledger_test.go
  components/ledger/internal/services/command/update-metadata_test.go
  components/ledger/internal/services/command/update-organization_test.go
  components/ledger/internal/services/command/update-portfolio_test.go
  components/ledger/internal/services/command/update-product_test.go
  components/ledger/internal/services/query/get-alias-accounts_test.go
  components/ledger/internal/services/query/get-all-accounts_test.go
  components/ledger/internal/services/query/get-all-asset_test.go
  components/ledger/internal/services/query/get-all-ledgers_test.go
  components/ledger/internal/services/query/get-all-metadata-accounts_test.go
  components/ledger/internal/services/query/get-all-metadata-asset_test.go
  components/ledger/internal/services/query/get-all-metadata-ledgers_test.go
  components/ledger/internal/services/query/get-all-metadata-organizations_test.go
  components/ledger/internal/services/query/get-all-metadata-portfolios_test.go
  components/ledger/internal/services/query/get-all-metadata-products_test.go
  components/ledger/internal/services/query/get-all-organizations_test.go
  components/ledger/internal/services/query/get-all-portfolios_test.go
  components/ledger/internal/services/query/get-all-products_test.go
  components/ledger/internal/services/query/get-id-account-with-deleted_test.go
  components/ledger/internal/services/query/get-id-account_test.go
  components/ledger/internal/services/query/get-id-asset_test.go
  components/ledger/internal/services/query/get-id-ledger_test.go
  components/ledger/internal/services/query/get-id-metadata_test.go
  components/ledger/internal/services/query/get-id-organization_test.go
  components/ledger/internal/services/query/get-id-portfolio_test.go
  components/ledger/internal/services/query/get-id-product_test.go
  components/ledger/internal/services/query/get-ids-accounts_test.go
  scripts/coverage_ignore.txt
Labels: test

#387 Fix/MIDAZ-fix-casdoor-admin-users
  components/auth/setup/init_data.json
  go.mod
  go.sum
Labels: bug

#388 Refactor/MIDAZ-381
  Makefile
  components/transaction/internal/adapters/postgres/transaction/transaction.go
  components/transaction/internal/adapters/redis/consumer.redis.go
  pkg/constant/account.go
  pkg/gold/transaction/model/transaction.go
  pkg/gold/transaction/model/validations.go
  pkg/gold/transaction/model/validations_test.go
Labels: domain:transactions

#392 goreleaser: fix version output and support arm64 builds
  .goreleaser.yml
Labels: domain:mdz

#394 chore: update action goreleaser to v6
  .github/workflows/release.yml
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
Labels: bug, domain:mdz, infra

#395 merge: develop to main
  .github/workflows/midaz-update-repos.yml
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
  CHANGELOG.md
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
Labels: feature

#399 fix: separated github actions from a different one file apart :bug:
  .github/workflows/brew-bump.yml
  .github/workflows/midaz-update-repos.yml
Labels: bug

#404 Fix/releaserc file
  .releaserc.yml
Labels: bug

#405 Feature/MIDAZ-390
  .github/workflows/package-managers.yml
  .golangci.yml
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/postgres/transaction/transaction.go
  components/transaction/internal/adapters/redis/consumer.redis.go
  components/transaction/internal/adapters/redis/redis.mock.go
  components/transaction/internal/services/command/create-idempotency-key.go
  go.mod
  go.sum
  pkg/constant/errors.go
  pkg/errors.go
  pkg/mredis/redis.go
  pkg/net/http/headers.go
  pkg/net/http/httputils.go
  pkg/stringUtils.go
  pkg/stringUtils_test.go
  postman/MIDAZ.postman_collection.json
Labels: feature, don't merge, refactor, domain:transactions

#406 merge: develop to main v1.34.0
  .github/workflows/package-managers.yml
  .github/workflows/release-notification.yml
  .golangci.yml
  .releaserc.yml
  CHANGELOG.md
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/postgres/transaction/transaction.go
  components/transaction/internal/adapters/redis/consumer.redis.go
  components/transaction/internal/adapters/redis/redis.mock.go
  components/transaction/internal/services/command/create-idempotency-key.go
  go.mod
  go.sum
  pkg/constant/errors.go
  pkg/errors.go
  pkg/mredis/redis.go
  pkg/net/http/headers.go
  pkg/net/http/httputils.go
  pkg/stringUtils.go
  pkg/stringUtils_test.go
  postman/MIDAZ.postman_collection.json
Labels: bug, feature

#407 fix: publish pr homebrew after release publish
  .github/workflows/package-managers.yml
Labels: bug

#408 fix: publish brew after release
  .github/workflows/package-managers.yml
  CHANGELOG.md
Labels: bug

#410 Feature/MIDAZ-409
  .github/workflows/midaz-update-repos.yml
  .github/workflows/packages-manager.yml
  components/audit/.env.example
  components/audit/Dockerfile
  components/audit/Makefile
  components/audit/api/openapi.yaml
  components/ledger/.env.example
  components/ledger/Dockerfile
  components/ledger/Makefile
  components/ledger/api/docs.go
  components/ledger/api/openapi.yaml
  components/ledger/api/swagger.json
  components/ledger/api/swagger.yaml
  components/ledger/internal/adapters/http/in/account.go
  components/ledger/internal/adapters/http/in/asset.go
  components/ledger/internal/adapters/http/in/ledger.go
  components/ledger/internal/adapters/http/in/organization.go
  components/ledger/internal/adapters/http/in/portfolio.go
  components/ledger/internal/adapters/http/in/product.go
  components/mdz/.env.example
  components/transaction/.env.example
  components/transaction/Dockerfile
  components/transaction/Makefile
  components/transaction/api/docs.go
  components/transaction/api/openapi.yaml
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/internal/adapters/http/in/assetrate.go
  components/transaction/internal/adapters/http/in/operation.go
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/redis/consumer.redis.go
  pkg/mredis/redis.go
Labels: documentation, feature, domain:transactions

#411 Merge: develop to main
  .github/workflows/midaz-update-repos.yml
  .github/workflows/packages-manager.yml
  CHANGELOG.md
  components/audit/.env.example
  components/audit/Dockerfile
  components/audit/Makefile
  components/audit/api/openapi.yaml
  components/ledger/.env.example
  components/ledger/Dockerfile
  components/ledger/Makefile
  components/ledger/api/docs.go
  components/ledger/api/openapi.yaml
  components/ledger/api/swagger.json
  components/ledger/api/swagger.yaml
  components/ledger/internal/adapters/http/in/account.go
  components/ledger/internal/adapters/http/in/asset.go
  components/ledger/internal/adapters/http/in/ledger.go
  components/ledger/internal/adapters/http/in/organization.go
  components/ledger/internal/adapters/http/in/portfolio.go
  components/ledger/internal/adapters/http/in/product.go
  components/mdz/.env.example
  components/transaction/.env.example
  components/transaction/Dockerfile
  components/transaction/Makefile
  components/transaction/api/docs.go
  components/transaction/api/openapi.yaml
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/internal/adapters/http/in/assetrate.go
  components/transaction/internal/adapters/http/in/operation.go
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/redis/consumer.redis.go
  pkg/mredis/redis.go
Labels: documentation, feature, domain:transactions

#413 Fix/MIDAZ- 412
  Makefile
  components/audit/.env.example
  components/audit/Makefile
  components/auth/Makefile
  components/infra/Makefile
  components/ledger/.env.example
  components/ledger/Makefile
  components/mdz/.env.example
  components/transaction/.env.example
  components/transaction/Makefile
Labels: don't merge, refactor, domain:onboarding, domain:portfolio, domain:transactions, infra

#414 feat: publish cli midaz in the choco
  .github/workflows/packages-manager.yml
  .goreleaser.yml
  chocolatey/mdz.nuspec
  chocolatey/tools/chocolateyinstall.ps1
  chocolatey/tools/chocolateyuninstall.ps1
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
Labels: feature

#419 fix: add release verification to ensure valid conditions
  .github/workflows/packages-manager.yml
Labels: refactor, domain:mdz, infra

#429 merge: develop to main
  .github/workflows/packages-manager.yml
  CHANGELOG.md
  go.mod
  go.sum
Labels: feature, domain:mdz, infra

#430 fix: update dispached action chocolaty in momment correct
  .github/workflows/packages-manager.yml
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
Labels: bug

#417 Fix/MIDAZ-416
  .github/workflows/packages-manager.yml
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/postgres/transaction/transaction.go
  components/transaction/internal/services/command/create-operation.go
  pkg/gold/Transaction.g4
  pkg/gold/parser/Transaction.interp
  pkg/gold/parser/Transaction.tokens
  pkg/gold/parser/TransactionLexer.interp
  pkg/gold/parser/TransactionLexer.tokens
  pkg/gold/parser/transaction_base_listener.go
  pkg/gold/parser/transaction_base_visitor.go
  pkg/gold/parser/transaction_lexer.go
  pkg/gold/parser/transaction_listener.go
  pkg/gold/parser/transaction_parser.go
  pkg/gold/parser/transaction_visitor.go
  pkg/gold/transaction/model/transaction.go
  pkg/gold/transaction/model/validations.go
  pkg/gold/transaction/model/validations_test.go
  pkg/gold/transaction/parse.go
  pkg/utils.go
  pkg/utils_test.go
  postman/MIDAZ.postman_collection.json
Labels: don't merge, refactor, domain:transactions

#432 Fix: package pipeline brew and chocolatey
  .github/workflows/packages-manager.yml
Labels: feature, domain:mdz, infra

#433 feat: add tests to to print :sparkles:
  .github/workflows/packages-manager.yml
  .github/workflows/update-env-version.yml
  chocolatey/mdz.nuspec
  chocolatey/tools/chocolateyinstall.ps1
Labels: bug, domain:mdz

#434 merge: develop to main
  .github/workflows/packages-manager.yml
  .github/workflows/update-env-version.yml
  CHANGELOG.md
  chocolatey/mdz.nuspec
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/postgres/transaction/transaction.go
  components/transaction/internal/services/command/create-operation.go
  pkg/gold/Transaction.g4
  pkg/gold/parser/Transaction.interp
  pkg/gold/parser/Transaction.tokens
  pkg/gold/parser/TransactionLexer.interp
  pkg/gold/parser/TransactionLexer.tokens
  pkg/gold/parser/transaction_base_listener.go
  pkg/gold/parser/transaction_base_visitor.go
  pkg/gold/parser/transaction_lexer.go
  pkg/gold/parser/transaction_listener.go
  pkg/gold/parser/transaction_parser.go
  pkg/gold/parser/transaction_visitor.go
  pkg/gold/transaction/model/transaction.go
  pkg/gold/transaction/model/validations.go
  pkg/gold/transaction/model/validations_test.go
  pkg/gold/transaction/parse.go
  pkg/utils.go
  pkg/utils_test.go
  postman/MIDAZ.postman_collection.json
Labels: feature, feature request, domain:mdz, infra

#435 fix/package-manager-03
  .github/workflows/packages-manager.yml
Labels: bug, refactor, domain:mdz, infra

#436 fix: remove echo :bug:
  .github/workflows/packages-manager.yml
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
Labels: bug, feature, domain:mdz, infra

#437 merge: develop to main
  .github/workflows/packages-manager.yml
  CHANGELOG.md
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
Labels: bug, infra

#438 fix: var version with error :bug:
  .github/workflows/packages-manager.yml
  chocolatey/tools/chocolateyinstall.ps1
Labels: bug, feature, infra

#440 Fix: wait release
  .github/workflows/packages-manager.yml
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
Labels: bug

#439 merge: Develop to Main
  .github/workflows/packages-manager.yml
  CHANGELOG.md
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
Labels: bug, feature, infra

#441 Feature: Midaz 415
  components/ledger/api/docs.go
  components/ledger/api/openapi.yaml
  components/ledger/api/swagger.json
  components/ledger/api/swagger.yaml
  components/ledger/internal/adapters/http/in/account.go
  components/ledger/internal/adapters/postgres/account/account.postgresql.go
  components/transaction/api/docs.go
  components/transaction/api/openapi.yaml
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  pkg/mpostgres/pagination.go
  pkg/net/http/httputils.go
Labels: feature, domain:onboarding
