Repository LerianStudio/midaz, pull requests merged in 2024-11, with the labels that each got.

#184 Feature/MZ-617
  .github/workflows/update-midaz-full-submodule.yml
Labels: enhancement

#205 Feature/MZ-629
  components/infra/docker-compose.yml
  components/infra/otelcol/otel-collector-config.yaml
  components/ledger/.env.example
  go.mod
  go.sum
Labels: feature

#197 Feature/MIDAZ-194
  CHANGELOG.md
  common/mrabbitmq/rabbitmq.go
  components/infra/.env.example
  components/infra/docker-compose.yml
  components/infra/rabbitmq/etc/definitions.json
  components/infra/rabbitmq/etc/rabbitmq.conf
  components/ledger/.env.example
  components/ledger/internal/adapters/rabbitmq/consumer.rabbitmq.go
  components/ledger/internal/adapters/rabbitmq/producer.rabbitmq.go
  components/ledger/internal/app/command/command.go
  components/ledger/internal/app/query/query.go
  components/ledger/internal/domain/rabbitmq/consumer_repository.go
  components/ledger/internal/domain/rabbitmq/producer_repository.go
  components/ledger/internal/gen/inject.go
  components/ledger/internal/gen/mock/rabbitmq/consumer_repository_mock.go
  components/ledger/internal/gen/mock/rabbitmq/producer_repository_mock.go
  components/ledger/internal/gen/wire_gen.go
  components/ledger/internal/service/config.go
  components/transaction/.env.example
  components/transaction/internal/adapters/rabbitmq/consumer.rabbitmq.go
  components/transaction/internal/adapters/rabbitmq/producer.rabbitmq.go
  components/transaction/internal/app/command/command.go
  components/transaction/internal/app/query/query.go
  components/transaction/internal/domain/rabbitmq/consumer_repository.go
  components/transaction/internal/domain/rabbitmq/producer_repository.go
  components/transaction/internal/gen/inject.go
  components/transaction/internal/gen/mock/rabbitmq/consumer_repository_mock.go
  components/transaction/internal/gen/mock/rabbitmq/producer_repository_mock.go
  components/transaction/internal/gen/wire_gen.go
  components/transaction/internal/service/config.go
  components/transaction/internal/service/service.go
  go.mod
  go.sum
Labels: feature, domain:onboarding, domain:portfolio, domain:transactions

#215 Feature/MZ-624
  common/mopentelemetry/otel.go
  common/mzap/injector.go
  common/mzap/zap.go
  common/net/http/withTelemetry.go
  common/utils.go
  components/infra/.env.example
  components/infra/docker-compose.yml
  components/infra/otelcol/otel-collector-config.yaml
  components/ledger/.env.example
  components/ledger/Dockerfile
  components/ledger/internal/adapters/database/mongodb/metadata.mongodb.go
  components/ledger/internal/adapters/database/postgres/ledger.postgresql.go
  components/ledger/internal/adapters/database/postgres/organization.postgresql.go
  components/ledger/internal/app/command/create-ledger.go
  components/ledger/internal/app/command/create-metadata.go
  components/ledger/internal/app/command/create-organization.go
  components/ledger/internal/app/command/delete-ledger.go
  components/ledger/internal/app/command/delete-organization.go
  components/ledger/internal/app/command/update-ledger.go
  components/ledger/internal/app/command/update-metadata.go
  components/ledger/internal/app/command/update-organization.go
  components/ledger/internal/app/query/get-all-ledgers.go
  components/ledger/internal/app/query/get-all-metadata-ledgers.go
  components/ledger/internal/app/query/get-all-metadata-organizations.go
  components/ledger/internal/app/query/get-id-ledger.go
  components/ledger/internal/app/query/get-id-organization.go
  components/ledger/internal/domain/onboarding/organization/organization_repository.go
  components/ledger/internal/gen/inject.go
  components/ledger/internal/gen/wire_gen.go
  components/ledger/internal/ports/http/ledger.go
  components/ledger/internal/ports/http/organization.go
  components/ledger/internal/ports/http/routes.go
  components/ledger/internal/service/config.go
  components/ledger/internal/service/server.go
  components/transaction/Dockerfile
  go.mod
  go.sum
Labels: feature, domain:onboarding, domain:portfolio

#226 Refactor/MIDAZ-217
  common/gold/transaction/model/validations.go
  common/mgrpc/account/account.pb.go
  common/mgrpc/account/account.proto
  common/mgrpc/account/account_grpc.pb.go
  components/ledger/internal/adapters/database/postgres/portfolio.postgresql.go
  components/ledger/internal/app/command/create-account.go
  components/ledger/internal/app/command/create-asset.go
  components/ledger/internal/app/command/create-portfolio.go
  components/ledger/internal/domain/portfolio/account/account.go
  components/ledger/internal/domain/portfolio/portfolio/portfolio.go
  components/ledger/internal/ports/grpc/account.go
  components/ledger/migrations/000004_create_portfolio_table.up.sql
  postman/MIDAZ.postman_collection.json
Labels: refactor, domain:onboarding, domain:portfolio, domain:transactions

#237 Feature/MIDAZ-223
  components/mdz/internal/domain/repository/portfolio.go
  components/mdz/internal/domain/repository/portfolio_mock.go
  components/mdz/internal/rest/.fixtures/portfolio_response_get_by_id.json
  components/mdz/internal/rest/portfolio.go
  components/mdz/internal/rest/portfolio_test.go
  components/mdz/pkg/cmd/portfolio/describe.go
  components/mdz/pkg/cmd/portfolio/describe_test.go
  components/mdz/pkg/cmd/portfolio/portfolio.go
  components/mdz/pkg/cmd/portfolio/testdata/output_describe.golden
Labels: feature, domain:mdz

#238 Feature/MZ-631
  components/infra/.env.example
  components/infra/docker-compose.yml
  components/infra/otelcol/otel-collector-config.yaml
  components/ledger/.env.example
  components/transaction/.env.example
Labels: released on @develop, infra

#239 Feature/MIDAZ-224
  components/mdz/internal/domain/repository/portfolio.go
  components/mdz/internal/domain/repository/portfolio_mock.go
  components/mdz/internal/rest/.fixtures/portfolio_response_update.json
  components/mdz/internal/rest/portfolio.go
  components/mdz/internal/rest/portfolio_test.go
  components/mdz/pkg/cmd/portfolio/portfolio.go
  components/mdz/pkg/cmd/portfolio/update.go
  components/mdz/pkg/cmd/portfolio/update_test.go
Labels: feature, domain:mdz

#241 Refactor/MZ-626
  common/constant/metadata.go
  common/context.go
  common/mgrpc/grpc.go
  common/mlog/log.go
  common/mlog/nil.go
  common/mopentelemetry/otel.go
  common/mzap/zap.go
  common/net/http/headers.go
  common/net/http/withLogging.go
  common/net/http/withTelemetry.go
  components/transaction/internal/adapters/grpc/account.grpc.go
  postman/MIDAZ.postman_collection.json
Labels: refactor, domain:onboarding, domain:portfolio, domain:transactions

#245 Refactor/MZ-632
  components/transaction/internal/app/command/create-assetrate.go
  components/transaction/internal/app/command/create-assetrate_test.go
  components/transaction/internal/domain/assetrate/assetrate.go
  components/transaction/migrations/000000_create_extension.down.sql
  components/transaction/migrations/000000_create_extension.up.sql
  components/transaction/migrations/000000_create_transaction_table.down.sql
  components/transaction/migrations/000000_create_transaction_table.up.sql
  components/transaction/migrations/000001_create_operation_table.down.sql
  components/transaction/migrations/000001_create_operation_table.up.sql
  components/transaction/migrations/000002_create_asset_rate_table.down.sql
  components/transaction/migrations/000002_create_asset_rate_table.up.sql
Labels: refactor, domain:transactions

#252 Feature/MIDAZ-247
  components/mdz/internal/domain/repository/product.go
  components/mdz/internal/domain/repository/product_mock.go
  components/mdz/internal/rest/.fixtures/product_response_create.json
  components/mdz/internal/rest/product.go
  components/mdz/internal/rest/product_test.go
  components/mdz/pkg/cmd/product/create.go
  components/mdz/pkg/cmd/product/create_test.go
  components/mdz/pkg/cmd/product/product.go
  components/mdz/pkg/cmd/root/root.go
Labels: feature, domain:mdz

#257 Feature/MIDAZ-248
  components/mdz/internal/domain/repository/product.go
  components/mdz/internal/domain/repository/product_mock.go
  components/mdz/internal/rest/.fixtures/product_response_list.json
  components/mdz/internal/rest/product.go
  components/mdz/internal/rest/product_test.go
  components/mdz/pkg/cmd/product/list.go
  components/mdz/pkg/cmd/product/list_test.go
  components/mdz/pkg/cmd/product/product.go
  components/mdz/pkg/cmd/product/testdata/output_list.golden
Labels: feature, domain:mdz

#260 Fix/MZ-633
  common/constant/errors.go
  common/errors.go
  common/gold/transaction/model/validations.go
  components/transaction/internal/adapters/database/mongodb/metadata.mongodb.go
  components/transaction/internal/adapters/database/postgres/transaction.postgresql.go
  components/transaction/internal/app/command/update-transaction.go
  components/transaction/internal/app/query/get-all-metadata-transactions.go
  components/transaction/internal/app/query/get-all-operations-account.go
  components/transaction/internal/app/query/get-all-transactions.go
  components/transaction/internal/ports/http/transaction.go
Labels: bug, domain:transactions

#264 Feature/MIDAZ-262
  common/net/http/handler.go
  components/ledger/.env.example
  components/ledger/internal/domain/portfolio/account/account.go
  components/ledger/internal/ports/http/routes.go
  components/transaction/.env.example
  components/transaction/internal/ports/http/routes.go
Labels: feature, domain:onboarding, domain:transactions

#258 Feature/MIDAZ-249
  components/mdz/internal/domain/repository/product.go
  components/mdz/internal/domain/repository/product_mock.go
  components/mdz/internal/rest/.fixtures/product_response_get_by_id.json
  components/mdz/internal/rest/product.go
  components/mdz/internal/rest/product_test.go
  components/mdz/pkg/cmd/product/describe.go
  components/mdz/pkg/cmd/product/product.go
Labels: feature, domain:mdz

#272 Feature/MIDAZ-256
  common/mmongo/mongo.go
  common/mredis/redis.go
  components/infra/.env.example
  components/infra/docker-compose.yml
  components/ledger/.env.example
  components/ledger/internal/adapters/database/redis/consumer.redis.go
  components/ledger/internal/app/command/command.go
  components/ledger/internal/app/query/query.go
  components/ledger/internal/domain/redis/redis_repository.go
  components/ledger/internal/gen/inject.go
  components/ledger/internal/gen/mock/redis/redis_repository_mock.go
  components/ledger/internal/gen/wire_gen.go
  components/ledger/internal/service/config.go
  components/transaction/.env.example
  components/transaction/internal/adapters/database/redis/consumer.redis.go
  components/transaction/internal/app/command/command.go
  components/transaction/internal/app/query/query.go
  components/transaction/internal/domain/redis/redis_repository.go
  components/transaction/internal/gen/inject.go
  components/transaction/internal/gen/mock/redis/redis_repository_mock.go
  components/transaction/internal/gen/wire_gen.go
  components/transaction/internal/service/config.go
  go.mod
  go.sum
Labels: feature, released on @develop, domain:onboarding, domain:portfolio, domain:transactions

#287 Feature/MIDAZ-266
  components/mdz/internal/domain/repository/account.go
  components/mdz/internal/domain/repository/account_mock.go
  components/mdz/internal/rest/.fixtures/account_response_create.json
  components/mdz/internal/rest/.fixtures/account_response_describe.json
  components/mdz/internal/rest/.fixtures/account_response_list.json
  components/mdz/internal/rest/.fixtures/account_response_update.json
  components/mdz/internal/rest/account.go
  components/mdz/internal/rest/account_test.go
  components/mdz/pkg/cmd/account/account.go
  components/mdz/pkg/cmd/account/create.go
  components/mdz/pkg/cmd/account/create_test.go
  components/mdz/pkg/cmd/account/delete.go
  components/mdz/pkg/cmd/account/delete_test.go
  components/mdz/pkg/cmd/account/describe.go
  components/mdz/pkg/cmd/account/describe_test.go
  components/mdz/pkg/cmd/account/list.go
  components/mdz/pkg/cmd/account/list_test.go
  components/mdz/pkg/cmd/account/testdata/output_describe.golden
  components/mdz/pkg/cmd/account/testdata/output_list.golden
  components/mdz/pkg/cmd/account/update.go
  components/mdz/pkg/cmd/account/update_test.go
  components/mdz/pkg/cmd/root/root.go
Labels: feature, domain:mdz

#284 Fix/MIDAZ-259
  common/constant/asset_transaction.go
  common/constant/errors.go
  common/errors.go
  common/gold/transaction/model/transaction.go
  common/gold/transaction/model/validations.go
  common/mgrpc/grpc.go
  common/mzap/injector.go
  common/net/http/withBody.go
  common/net/http/withTelemetry.go
  common/utils.go
  components/transaction/internal/domain/transaction/transaction.go
  components/transaction/internal/ports/http/routes.go
  components/transaction/internal/ports/http/transaction.go
  postman/MIDAZ.postman_collection.json
Labels: refactor, domain:onboarding, domain:portfolio, domain:transactions

#293 add repo activity and reorganize Makefile and make.sh
  Makefile
  README.md
  make.sh
Labels: documentation, feature

#298 Feature/MIDAZ-295
  common/gold/transaction/model/transaction.go
  common/mmodel/account.go
  common/mmodel/asset.go
  common/mmodel/ledger.go
  common/mmodel/organization.go
  common/mmodel/portfolio.go
  common/mmodel/product.go
  common/mmodel/status.go
  common/mpostgres/pagination.go
  common/net/http/doc.go
  common/net/http/withBody.go
  common/net/http/withLogging.go
  components/ledger/api/docs.go
  components/ledger/api/swagger.json
  components/ledger/api/swagger.yaml
  components/ledger/cmd/app/main.go
  components/ledger/internal/adapters/database/postgres/product/product.go
  components/ledger/internal/bootstrap/http/account.go
  components/ledger/internal/bootstrap/http/asset.go
  components/ledger/internal/bootstrap/http/ledger.go
  components/ledger/internal/bootstrap/http/organization.go
  components/ledger/internal/bootstrap/http/portfolio.go
  components/ledger/internal/bootstrap/http/product.go
  components/ledger/internal/bootstrap/http/routes.go
  components/ledger/internal/bootstrap/http/swagger.go
  components/transaction/api/docs.go
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/cmd/app/main.go
  components/transaction/internal/adapters/database/postgres/assetrate/assetrate.go
  components/transaction/internal/adapters/database/postgres/operation/operation.go
  components/transaction/internal/adapters/database/postgres/transaction/transaction.go
  components/transaction/internal/bootstrap/http/assetrate.go
  components/transaction/internal/bootstrap/http/operation.go
  components/transaction/internal/bootstrap/http/routes.go
  components/transaction/internal/bootstrap/http/swagger.go
  components/transaction/internal/bootstrap/http/transaction.go
Labels: documentation, feature, domain:transactions

#305 Test/MIDAZ-304
  .github/workflows/test_integration_cli.yml
  Makefile
  components/mdz/Makefile
  components/mdz/internal/rest/account.go
  components/mdz/pkg/cmd/account/create.go
  components/mdz/pkg/cmd/account/describe.go
  components/mdz/pkg/cmd/root/root.go
  components/mdz/test/integration/login_test.go
  components/mdz/test/integration/mdz.sh
  components/mdz/test/integration/mdz_test.go
  components/mdz/test/integration/testdata/out_login_flags.golden
  components/mdz/test/integration/testutils.go
  go.mod
  go.sum
Labels: test, domain:mdz

#312 Fix/midaz 311
  .github/workflows/update-env-version.yml
  components/ledger/.env.example
  components/transaction/.env.example
Labels: bug, don't merge, infra

#313 Feature/MIDAZ-306
  components/mdz/pkg/cmd/account/create.go
  components/mdz/pkg/cmd/account/create_test.go
  components/mdz/pkg/cmd/account/delete.go
  components/mdz/pkg/cmd/account/delete_test.go
  components/mdz/pkg/cmd/account/describe.go
  components/mdz/pkg/cmd/account/list.go
  components/mdz/pkg/cmd/account/update.go
  components/mdz/pkg/cmd/account/update_test.go
  components/mdz/pkg/cmd/asset/create.go
  components/mdz/pkg/cmd/asset/create_test.go
  components/mdz/pkg/cmd/asset/delete.go
  components/mdz/pkg/cmd/asset/delete_test.go
  components/mdz/pkg/cmd/asset/describe.go
  components/mdz/pkg/cmd/asset/list.go
  components/mdz/pkg/cmd/asset/update.go
  components/mdz/pkg/cmd/asset/update_test.go
  components/mdz/pkg/cmd/ledger/create.go
  components/mdz/pkg/cmd/ledger/create_test.go
  components/mdz/pkg/cmd/ledger/delete.go
  components/mdz/pkg/cmd/ledger/delete_test.go
  components/mdz/pkg/cmd/ledger/describe.go
  components/mdz/pkg/cmd/ledger/list.go
  components/mdz/pkg/cmd/ledger/update.go
  components/mdz/pkg/cmd/organization/create.go
  components/mdz/pkg/cmd/organization/create_test.go
  components/mdz/pkg/cmd/organization/delete.go
  components/mdz/pkg/cmd/organization/delete_test.go
  components/mdz/pkg/cmd/organization/describe.go
  components/mdz/pkg/cmd/organization/list.go
  components/mdz/pkg/cmd/organization/list_test.go
  components/mdz/pkg/cmd/organization/update.go
  components/mdz/pkg/cmd/organization/update_test.go
  components/mdz/pkg/cmd/portfolio/create.go
  components/mdz/pkg/cmd/portfolio/create_test.go
  components/mdz/pkg/cmd/portfolio/delete.go
  components/mdz/pkg/cmd/portfolio/delete_test.go
  components/mdz/pkg/cmd/portfolio/describe.go
  components/mdz/pkg/cmd/portfolio/list.go
  components/mdz/pkg/cmd/portfolio/update.go
  components/mdz/pkg/cmd/portfolio/update_test.go
  components/mdz/pkg/cmd/product/create.go
  components/mdz/pkg/cmd/product/create_test.go
  components/mdz/pkg/cmd/product/delete.go
  components/mdz/pkg/cmd/product/delete_test.go
  components/mdz/pkg/cmd/product/describe.go
  components/mdz/pkg/cmd/product/list.go
  components/mdz/pkg/cmd/product/update.go
  components/mdz/pkg/cmd/product/update_test.go
  components/mdz/pkg/cmd/root/root.go
  components/mdz/pkg/factory/factory.go
  components/mdz/pkg/output/output.go
Labels: feature, domain:mdz

#316 Docs/MIDAZ-315
  components/ledger/.env.example
  components/ledger/api/docs.go
  components/ledger/api/swagger.json
  components/ledger/api/swagger.yaml
  components/ledger/internal/adapters/http/in/account.go
  components/ledger/internal/adapters/http/in/asset.go
  components/ledger/internal/adapters/http/in/ledger.go
  components/ledger/internal/adapters/http/in/organization.go
  components/ledger/internal/adapters/http/in/portfolio.go
  components/ledger/internal/adapters/http/in/product.go
  components/ledger/internal/adapters/http/in/swagger.go
  components/ledger/internal/adapters/postgres/account/account.go
  components/transaction/.env.example
  components/transaction/api/docs.go
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/internal/adapters/http/in/assetrate.go
  components/transaction/internal/adapters/http/in/operation.go
  components/transaction/internal/adapters/http/in/swagger.go
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/postgres/operation/operation.go
  pkg/stringUtils.go
Labels: documentation, domain:onboarding, domain:portfolio, domain:transactions

#318 Refactor/MIDAZ-317
  components/auth/.env.example
  components/auth/setup/00_init.sql
  components/auth/setup/init_data.json
  components/ledger/.env.example
  components/ledger/internal/bootstrap/config.go
  components/transaction/.env.example
  components/transaction/internal/adapters/http/in/routes.go
  components/transaction/internal/bootstrap/config.go
  pkg/mcasdoor/casdoor.go
  pkg/net/http/withJWT.go
Labels: refactor, domain:onboarding, domain:portfolio, domain:transactions, infra

#324 fix/MIDAZ-322
  .github/workflows/release-notification.yml
Labels: refactor, infra

#329 Feature/MIDAZ-328
  .github/workflows/release-notification.yml
Labels: bug, infra

#331 Fix/MIDAZ-330
  .github/workflows/release-notification.yml
  components/ledger/.env.example
  components/transaction/.env.example
Labels: bug, infra

#333 Feature/MIDAZ-307
  .github/workflows/update-env-version.yml
  components/mdz/.env.example
  components/mdz/Makefile
  components/mdz/pkg/cmd/configure/configure.go
  components/mdz/pkg/cmd/configure/configure_test.go
  components/mdz/pkg/cmd/configure/testdata/output_configure.golden
  components/mdz/pkg/cmd/ledger/describe_test.go
  components/mdz/pkg/cmd/login/login.go
  components/mdz/pkg/cmd/root/help.go
  components/mdz/pkg/cmd/root/root.go
  components/mdz/pkg/cmd/root/root_test.go
  components/mdz/pkg/cmd/version/version.go
  components/mdz/pkg/cmd/version/version_test.go
  components/mdz/pkg/environment/environment.go
  components/mdz/pkg/factory/factory.go
  components/mdz/pkg/setting/setting.go
Labels: feature, domain:mdz

#335 Fix/MIDAZ-332
  pkg/gold/transaction/model/validations.go
  pkg/utils.go
Labels: bug, domain:portfolio, domain:transactions
