Repository LerianStudio/midaz, pull requests merged in 2025-01, with the labels that each got.

#442 fix: changed the way to add the key :bug:
  .github/workflows/packages-manager.yml
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
Labels: bug

#443 Merge: Develop to main
  .github/workflows/packages-manager.yml
  CHANGELOG.md
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/ledger/.env.example
  components/ledger/api/docs.go
  components/ledger/api/openapi.yaml
  components/ledger/api/swagger.json
  components/ledger/api/swagger.yaml
  components/ledger/internal/adapters/http/in/account.go
  components/ledger/internal/adapters/postgres/account/account.postgresql.go
  components/mdz/.env.example
  components/transaction/.env.example
  components/transaction/api/docs.go
  components/transaction/api/openapi.yaml
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  pkg/mpostgres/pagination.go
  pkg/net/http/httputils.go
Labels: bug

#445 fix: no file verification :bug:
  .github/workflows/packages-manager.yml
  VERIFICATION.txt
Labels: bug

#446 merge: Develop to Main
  .github/workflows/packages-manager.yml
  CHANGELOG.md
  VERIFICATION.txt
Labels: bug

#449 Feature/new images midaz
  .github/workflows/build.yml
  .github/workflows/midaz-update-repos.yml
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
  go.mod
  go.sum
Labels: feature, dependencies, infra

#451 fix: check context if is diff nil :bug:
  chocolatey/tools/VERIFICATION.txt
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/auth/docker-compose.yml
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
  pkg/net/http/withTelemetry.go
Labels: bug

#452 merge: develop to main
  .github/workflows/build.yml
  .github/workflows/midaz-update-repos.yml
  CHANGELOG.md
  chocolatey/tools/VERIFICATION.txt
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/auth/docker-compose.yml
  components/ledger/.env.example
  components/mdz/.env.example
  components/transaction/.env.example
  go.mod
  go.sum
  pkg/net/http/withTelemetry.go
Labels: bug, dependencies, infra

#455 Feature: MIDAZ-415
  .github/workflows/packages-manager.yml
  chocolatey/mdz.nuspec
  chocolatey/tools/VERIFICATION.txt
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/ledger/.env.example
  components/ledger/api/docs.go
  components/ledger/api/openapi.yaml
  components/ledger/api/swagger.json
  components/ledger/api/swagger.yaml
  components/ledger/internal/adapters/http/in/account.go
  components/ledger/internal/adapters/http/in/routes.go
  components/ledger/internal/adapters/postgres/account/account.mock.go
  components/ledger/internal/adapters/postgres/account/account.postgresql.go
  components/ledger/internal/services/query/get-alias-account.go
  components/ledger/internal/services/query/get-alias-account_test.go
  components/mdz/.env.example
  components/transaction/.env.example
  pkg/constant/errors.go
  pkg/errors.go
  pkg/mpostgres/pagination.go
  pkg/net/http/httputils.go
Labels: feature

#461 Feature/MIDAZ-420
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/ledger/.env.example
  components/ledger/Makefile
  components/ledger/internal/adapters/grpc/in/account.go
  components/ledger/internal/adapters/postgres/account/account.go
  components/ledger/internal/adapters/postgres/account/account.mock.go
  components/ledger/internal/adapters/postgres/account/account.postgresql.go
  components/ledger/internal/services/command/update-account-id.go
  components/ledger/internal/services/query/get-alias-accounts_test.go
  components/ledger/migrations/000005_create_account_table.up.sql
  components/mdz/.env.example
  components/transaction/.env.example
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/redis/consumer.redis.go
  components/transaction/internal/adapters/redis/redis.mock.go
  components/transaction/internal/services/command/create-idempotency-key.go
  components/transaction/internal/services/command/create-lock-race-condition.go
  components/transaction/internal/services/command/update-accounts-ledger-grpc.go
  components/transaction/internal/services/command/update-transaction.go
  components/transaction/internal/services/query/get-accounts-ledger-grpc.go
  go.mod
  go.sum
  pkg/constant/account.go
  pkg/constant/errors.go
  pkg/errors.go
  pkg/gold/transaction/model/validations.go
  pkg/gold/transaction/model/validations_test.go
  pkg/mgrpc/account/account.pb.go
  pkg/mgrpc/account/account.proto
  pkg/mgrpc/account/account_grpc.pb.go
  pkg/mmodel/account.go
  pkg/mpostgres/postgres.go
  pkg/utils.go
Labels: feature, domain:portfolio, domain:transactions

#462 Feature/MIDAZ-460
  components/transaction/api/docs.go
  components/transaction/api/openapi.yaml
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/postgres/transaction/transaction.go
  components/transaction/internal/adapters/postgres/transaction/transaction.mock.go
  components/transaction/internal/adapters/postgres/transaction/transaction.postgresql.go
  components/transaction/internal/services/command/create-transaction.go
  components/transaction/internal/services/query/get-parent-id-transaction.go
  components/transaction/internal/services/query/get-parent-id-transaction_test.go
  components/transaction/migrations/000000_create_transaction_table.up.sql
  pkg/constant/errors.go
  pkg/errors.go
  postman/MIDAZ.postman_collection.json
Labels: feature, don't merge, domain:transactions

#465 fix: treatment for old transactions without transaction body :bug:
  components/transaction/internal/adapters/http/in/transaction.go
  pkg/constant/errors.go
  pkg/errors.go
  pkg/gold/transaction/model/transaction.go
Labels: bug, refactor, domain:transactions

#475 Fix/midaz 466
  .github/workflows/midaz-update-repos.yml
  Makefile
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/audit/Dockerfile
  components/audit/internal/bootstrap/config.go
  components/infra/.env.example
  components/infra/docker-compose.yml
  components/infra/grafana/run-grafana.sh
  components/ledger/.air.toml
  components/ledger/.env.example
  components/ledger/Dockerfile
  components/ledger/internal/adapters/postgres/account/account.postgresql.go
  components/ledger/internal/bootstrap/config.go
  components/ledger/internal/services/command/update-account.go
  components/mdz/.env.example
  components/transaction/.air.toml
  components/transaction/.env.example
  components/transaction/Dockerfile
  components/transaction/internal/bootstrap/config.go
  go.mod
  go.sum
  pkg/net/http/headers.go
  postman/MIDAZ.postman_collection.json
Labels: bug, dependencies, domain:onboarding, domain:transactions

#480 Fix/476
  components/infra/docker-compose.yml
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/services/query/get-all-operations.go
  components/transaction/internal/services/query/get-all-operations_test.go
  components/transaction/internal/services/query/get-all-transactions.go
Labels: bug, refactor

#482 Fix/481
  components/transaction/internal/adapters/postgres/assetrate/assetrate.postgresql.go
  components/transaction/internal/adapters/postgres/operation/operation.postgresql.go
  components/transaction/internal/adapters/postgres/transaction/transaction.postgresql.go
Labels: bug, domain:transactions

#479 Fix/477
  components/ledger/api/docs.go
  components/ledger/api/openapi.yaml
  components/ledger/api/swagger.json
  components/ledger/api/swagger.yaml
  components/ledger/internal/adapters/postgres/account/account.postgresql.go
  components/ledger/internal/services/command/update-account.go
  pkg/mmodel/account.go
  postman/MIDAZ.postman_collection.json
Labels: bug, don't merge, domain:portfolio

#487 merge: develop to main
  .github/workflows/midaz-update-repos.yml
  CHANGELOG.md
  Makefile
  chocolatey/tools/chocolateyinstall.ps1
  components/audit/.env.example
  components/audit/Dockerfile
  components/audit/internal/bootstrap/config.go
  components/infra/.env.example
  components/infra/docker-compose.yml
  components/infra/grafana/run-grafana.sh
  components/ledger/.air.toml
  components/ledger/.env.example
  components/ledger/Dockerfile
  components/ledger/api/docs.go
  components/ledger/api/openapi.yaml
  components/ledger/api/swagger.json
  components/ledger/api/swagger.yaml
  components/ledger/internal/adapters/postgres/account/account.postgresql.go
  components/ledger/internal/bootstrap/config.go
  components/ledger/internal/services/command/update-account.go
  components/mdz/.env.example
  components/transaction/.air.toml
  components/transaction/.env.example
  components/transaction/Dockerfile
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/postgres/assetrate/assetrate.postgresql.go
  components/transaction/internal/adapters/postgres/operation/operation.postgresql.go
  components/transaction/internal/adapters/postgres/transaction/transaction.postgresql.go
  components/transaction/internal/bootstrap/config.go
  components/transaction/internal/services/query/get-all-operations.go
  components/transaction/internal/services/query/get-all-operations_test.go
  components/transaction/internal/services/query/get-all-transactions.go
  go.mod
  go.sum
  pkg/constant/errors.go
  pkg/errors.go
  pkg/gold/transaction/model/transaction.go
  pkg/mmodel/account.go
  pkg/net/http/headers.go
  postman/MIDAZ.postman_collection.json
Labels: bug, refactor, domain:onboarding, domain:portfolio, domain:transactions, infra

#484 Fix/483
  .github/workflows/go-combined-analysis.yml
  .github/workflows/update-env-version.yml
Labels: refactor, infra

#498 refactor: optimize docker build caching by separating go modules download layer :hammer:
  components/audit/Dockerfile
  components/ledger/Dockerfile
  components/transaction/Dockerfile
Labels: don't merge, refactor, domain:onboarding, domain:portfolio, domain:transactions, infra
