Repository LerianStudio/midaz, pull requests merged in 2025-03, with the labels that each got.

#566 Fix: makefiles and standardize the commands across all of them
  .golangci.yml
  Makefile
  components/infra/.env.example
  components/infra/Makefile
  components/mdz/.env.example
  components/mdz/.golangci.yml
  components/mdz/Makefile
  components/onboarding/.env.example
  components/onboarding/Makefile
  components/onboarding/docker-compose.yml
  components/transaction/.env.example
  components/transaction/Makefile
  components/transaction/docker-compose.yml
  components/transaction/internal/services/query/get-id-balance.go
  make.sh
  pkg/constant/errors.go
  pkg/shell/makefile_colors.mk
  pkg/shell/makefile_utils.mk
Labels: feature, refactor, infra, env

#568 Fix/midaz 564
  .golangci.yml
  components/mdz/.golangci.yml
  components/onboarding/internal/adapters/http/in/routes.go
  components/onboarding/internal/bootstrap/config.go
  components/transaction/internal/adapters/http/in/routes.go
  components/transaction/internal/bootstrap/config.go
  go.mod
  go.sum
  pkg/errors.go
  pkg/net/http/response.go
Labels: bug, domain:onboarding, domain:transactions, infra, env

#569 Feature/midaz 563
  components/onboarding/internal/bootstrap/server.go
  components/transaction/internal/adapters/postgres/balance/balance.postgresql.go
  components/transaction/internal/bootstrap/server.go
  components/transaction/internal/services/command/delete_balance.go
  go.mod
  go.sum
  pkg/constant/errors.go
  pkg/errors.go
  pkg/net/http/withTelemetry.go
Labels: feature, domain:transactions

#573 Feature/MIDAZ-562
  components/onboarding/internal/adapters/postgres/account/account.go
  components/onboarding/internal/services/command/create-account.go
  components/onboarding/internal/services/command/update-organization.go
  components/transaction/internal/services/query/get-balances.go
  go.mod
  go.sum
  pkg/constant/errors.go
  pkg/errors.go
  pkg/mmodel/account.go
Labels: bug, refactor

#570 Improved release notifications for beta and stable releases on discord
  .github/workflows/release-notification.yml
Labels: infra

#579 Feature/MIDAZ-577
  components/transaction/internal/adapters/postgres/balance/balance.mock.go
  components/transaction/internal/adapters/postgres/balance/balance.postgresql.go
  components/transaction/internal/services/command/create-balance-transaction-operations-async.go
  components/transaction/internal/services/command/update-balance.go
  pkg/mpostgres/postgres.go
Labels: feature, domain:transactions

#578 fix: Correctly mentioning a role on Discord Release Notification
  .github/workflows/release-notification.yml
Labels: bug

#581 Fix/MIDAZ-580
  chocolatey/tools/chocolateyinstall.ps1
  components/infra/.env.example
  components/infra/docker-compose.yml
  components/infra/pgbouncer/pgbouncer.ini
  components/infra/pgbouncer/userlist.txt
  components/mdz/.env.example
  components/onboarding/.env.example
  components/onboarding/internal/adapters/http/in/account.go
  components/onboarding/internal/adapters/postgres/account/account.mock.go
  components/onboarding/internal/adapters/postgres/account/account.postgresql.go
  components/onboarding/internal/adapters/postgres/asset/asset.mock.go
  components/onboarding/internal/adapters/postgres/asset/asset.postgresql.go
  components/onboarding/internal/adapters/postgres/organization/organization.postgresql.go
  components/onboarding/internal/services/query/get-all-asset.go
  components/onboarding/internal/services/query/get-all-asset_test.go
  components/onboarding/migrations/000002_create_asset_table.up.sql
  components/onboarding/migrations/000004_create_portfolio_table.up.sql
  components/onboarding/migrations/000005_create_account_table.up.sql
  components/transaction/.env.example
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/services/command/create-balance-transaction-operations-async.go
  components/transaction/internal/services/query/get-balances.go
  components/transaction/migrations/000003_create_balance_table.up.sql
  go.mod
  go.sum
Labels: bug, don't merge

#586 fix: changing pagination limit error type to validation error
  pkg/errors.go
Labels: bug

#591 merge: develop to main;
  README.md
Labels: bug, refactor

#596 fix/MIDAZ-595
  .github/workflows/go-combined-analysis.yml
  components/transaction/.env.example
  components/transaction/internal/adapters/rabbitmq/consumer.rabbitmq.go
  components/transaction/internal/bootstrap/config.go
Labels: feature, test, refactor, env

#603 Fix/MIDAZ-602
  chocolatey/tools/chocolateyinstall.ps1
  components/mdz/.env.example
  components/onboarding/.env.example
  components/onboarding/internal/adapters/postgres/account/account.postgresql.go
  components/onboarding/internal/adapters/postgres/asset/asset.postgresql.go
  components/onboarding/internal/adapters/postgres/ledger/ledger.postgresql.go
  components/transaction/.env.example
  pkg/net/http/errors.go
Labels: bug

#605 Feature/MIDAZ-604
  components/infra/docker-compose.yml
  components/infra/mongo/mongo-keyfile
  components/infra/mongo/mongo.sh
  components/infra/postgres/init.sql
Labels: feature, refactor, infra

#610 Fix MongoDB permissions in infrastructure setup
  components/infra/docker-compose.yml
  components/infra/mongo/mongo.sh
Labels: bug, feature, infra

#606 Update Swagger documentation generation process (make generate-docs command)
  Makefile
  components/onboarding/Makefile
  components/onboarding/api/docs.go
  components/onboarding/api/openapi.yaml
  components/onboarding/api/swagger.json
  components/onboarding/api/swagger.yaml
  components/transaction/Makefile
Labels: documentation, domain:onboarding, domain:transactions

#607 Adding missing tests for "check tests" cmd on makefile
  Makefile
  components/transaction/internal/services/command/create-balance-transaction-operations-async_test.go
  coverage.html
Labels: feature, test, domain:onboarding, domain:transactions

#613 fix: add omitempty to avoid nested erro when metadata receives null; …
  components/transaction/internal/adapters/postgres/operation/operation.go
  components/transaction/internal/adapters/postgres/transaction/transaction.go
Labels: bug

#617 fix(metadata): add support for updating or removing metadata;
  components/transaction/internal/adapters/postgres/assetrate/assetrate.go
  components/transaction/internal/services/command/create-assetrate.go
  components/transaction/internal/services/command/update-metadata.go
  components/transaction/internal/services/command/update-metadata_test.go
  components/transaction/internal/services/command/update-operation.go
  components/transaction/internal/services/command/update-transaction.go
Labels: bug

#619 Sync postman with openapi generated docs
  .gitignore
  .goreleaser.yml
  Makefile
  components/mdz/.gitignore
  components/onboarding/api/docs.go
  components/onboarding/api/openapi.yaml
  components/onboarding/api/swagger.json
  components/onboarding/api/swagger.yaml
  components/onboarding/internal/adapters/http/in/account.go
  components/transaction/api/docs.go
  components/transaction/api/openapi.yaml
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/internal/adapters/http/in/assetrate.go
  components/transaction/internal/adapters/http/in/balance.go
  components/transaction/internal/adapters/http/in/transaction.go
  postman/MIDAZ.postman_collection.json
  scripts/check-logs.sh
  scripts/convert-openapi.js
  scripts/sync-postman.sh
  scripts/verify-api-docs.sh
Labels: documentation, feature, domain:onboarding, domain:transactions, domain:mdz
