Repository LerianStudio/midaz, pull requests merged in 2025-04, with the labels that each got.

#621 feat: update libs on go.mod and go.sum;
  go.mod
  go.sum
Labels: released on @develop, dependencies

#631 Fix/MIDAZ-625
  pkg/errors.go
Labels: bug

#632 feature/MIDAZ-626
  components/onboarding/internal/adapters/postgres/portfolio/portfolio.postgresql.go
  components/onboarding/internal/services/command/update-portfolio.go
  pkg/mmodel/portfolio.go
Labels: feature

#635 Fix/MIDAZ-628
  components/onboarding/internal/services/command/create-organization.go
Labels: bug

#636 Fix/MIDAZ-627
  pkg/errors.go
  postman/MIDAZ.postman_collection.json
Labels: bug

#633 Enhance OpenAPI documentation and validation + New Collections for Postman (including Workflows)
  .gitignore
  Makefile
  components/onboarding/Makefile
  components/onboarding/api/docs.go
  components/onboarding/api/openapi.yaml
  components/onboarding/api/swagger.json
  components/onboarding/api/swagger.yaml
  components/onboarding/internal/adapters/http/in/account.go
  components/onboarding/internal/adapters/http/in/asset.go
  components/onboarding/internal/adapters/http/in/ledger.go
  components/onboarding/internal/adapters/http/in/organization.go
  components/onboarding/internal/adapters/http/in/portfolio.go
  components/onboarding/internal/adapters/http/in/segment.go
  components/onboarding/package-lock.json
  components/onboarding/package.json
  components/onboarding/scripts/validate-api-docs.js
  components/onboarding/scripts/validate-api-implementations.js
  components/transaction/Makefile
  components/transaction/api/docs.go
  components/transaction/api/openapi.yaml
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/internal/adapters/http/in/assetrate.go
  components/transaction/internal/adapters/http/in/balance.go
  components/transaction/internal/adapters/http/in/operation.go
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/package-lock.json
  components/transaction/package.json
  components/transaction/scripts/validate-api-docs.js
  pkg/mmodel/account.go
  pkg/mmodel/asset.go
  pkg/mmodel/error.go
  pkg/mmodel/ledger.go
  pkg/mmodel/organization.go
  pkg/mmodel/portfolio.go
  pkg/mmodel/segment.go
  pkg/mmodel/status.go
  postman/MIDAZ.postman_collection.json
  postman/MIDAZ_Test_Workflow.postman_collection.json
  scripts/package-lock.json
  scripts/package.json
  scripts/sync-postman.sh
  scripts/verify-api-docs.sh
Labels: documentation

#637 Fix/MIDAZ-629
  components/onboarding/internal/services/command/create-asset.go
  go.mod
  go.sum
Labels: bug

#638 Fix/MIDAZ-630
  go.mod
  go.sum
  pkg/constant/errors.go
  pkg/errors.go
  pkg/net/http/withBody.go
Labels: bug

#643 Docs/update readme and bumping versioning.
  README.md
Labels: documentation

#667 Develop
  .goreleaser.yml
  .releaserc.yml
  CHANGELOG.md
  Makefile
  chocolatey/tools/chocolateyinstall.ps1
  components/mdz/.env.example
  components/onboarding/.env.example
  components/onboarding/internal/bootstrap/server.go
  components/transaction/.env.example
  components/transaction/internal/adapters/rabbitmq/consumer.rabbitmq.go
  components/transaction/internal/bootstrap/server.go
  coverage.html
  postman/MIDAZ.postman_collection.json
  scripts/sync-postman.sh
Labels: released on @develop

#686 Develop
  CHANGELOG.md
  chocolatey/tools/chocolateyinstall.ps1
  components/mdz/.env.example
  components/onboarding/.env.example
  components/transaction/.env.example
  components/transaction/internal/services/query/get-all-metadata-operations.go
  components/transaction/internal/services/query/get-all-metadata-transactions.go
  components/transaction/internal/services/query/get-all-metadata-transactions_test.go
  components/transaction/internal/services/query/get-all-operations.go
  components/transaction/internal/services/query/get-all-operations_test.go
  go.mod
  go.sum
Labels: released on @develop

#700 Update build workflow to trigger image builds only when corresponding components change
  .github/workflows/build.yml
  .github/workflows/env-vars-pr-notification.yml
  .github/workflows/midaz-update-repos.yml
  .github/workflows/packages-manager.yml
Labels: refactor

#711 Fix/MIDAZ-709
  components/onboarding/internal/bootstrap/config.go
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/bootstrap/config.go
  go.mod
  go.sum
Labels: bug

#712 Fix/MIDAZ-710
  components/onboarding/internal/adapters/rabbitmq/producer.rabbitmq.go
  components/onboarding/internal/adapters/rabbitmq/producer.rabbitmq_mock.go
  components/onboarding/internal/services/command/create-account.go
  components/onboarding/internal/services/command/create-account_test.go
  components/onboarding/internal/services/command/create-asset.go
  components/onboarding/internal/services/command/create-asset_test.go
  components/transaction/internal/adapters/rabbitmq/producer.rabbitmq.go
  components/transaction/internal/adapters/rabbitmq/producer.rabbitmq_mock.go
  components/transaction/internal/bootstrap/config.go
  components/transaction/internal/services/query/get-balances.go
  components/transaction/internal/services/query/get-balances_test.go
  components/transaction/internal/services/query/query.go
  go.mod
  go.sum
  pkg/constant/errors.go
  pkg/errors.go
  pkg/mmodel/balance.go
  pkg/net/http/errors.go
Labels: bug, released on @develop

#725 feat: ignore dirty files to execute goreleaser step
  .github/workflows/release.yml
  .goreleaser.yml
Labels: bug, refactor, infra

#726 feat: ignore dirty files to execute goreleaser step
  .github/workflows/release.yml
Labels: bug, infra

#727 feat: ignore dirty files using git clean to execute goreleaser step
  .github/workflows/release.yml
  .goreleaser.yml
Labels: bug, infra
