Repository LerianStudio/midaz, pull requests merged in 2025-02, with the labels that each got.

#514 feat: add devops to codeowner when change .env.example files; :sparkles:
  .github/CODEOWNERS
Labels: feature, infra, env

#518 fix/MIDAZ-506 | fix: make "name" required when creating asset
  pkg/mmodel/asset.go
Labels: bug, domain:onboarding

#519 feature/MIDAZ-515
  .github/workflows/env-vars-pr-notification.yml
  .github/workflows/update-env-version.yml
Labels: feature, feature request, infra, env

#520 Feature/MIDAZ-516
  components/audit/api/docs.go
  components/audit/api/openapi.yaml
  components/audit/api/swagger.json
  components/audit/api/swagger.yaml
  components/audit/internal/adapters/http/in/trillian.go
  components/auth/setup/00_init.sql
  components/auth/setup/init_data.json
  components/mdz/internal/rest/organization_test.go
  components/mdz/pkg/cmd/organization/update.go
  components/onboarding/api/docs.go
  components/onboarding/api/openapi.yaml
  components/onboarding/api/swagger.json
  components/onboarding/api/swagger.yaml
  components/onboarding/internal/adapters/http/in/account.go
  components/onboarding/internal/adapters/http/in/asset.go
  components/onboarding/internal/adapters/http/in/ledger.go
  components/onboarding/internal/adapters/http/in/organization.go
  components/onboarding/internal/adapters/http/in/portfolio.go
  components/onboarding/internal/adapters/http/in/segment.go
  components/onboarding/internal/services/command/update-organization.go
  components/onboarding/internal/services/command/update-organization_test.go
  components/transaction/api/docs.go
  components/transaction/api/openapi.yaml
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/internal/adapters/http/in/assetrate.go
  components/transaction/internal/adapters/http/in/balance.go
  components/transaction/internal/adapters/http/in/operation.go
  components/transaction/internal/adapters/http/in/routes.go
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/postgres/balance/balance.mock.go
  components/transaction/internal/adapters/postgres/balance/balance.postgresql.go
  components/transaction/internal/bootstrap/config.go
  components/transaction/internal/services/command/delete_balance.go
  components/transaction/internal/services/command/delete_balance_test.go
  components/transaction/internal/services/command/update-balance.go
  components/transaction/internal/services/command/update-balance_test.go
  components/transaction/internal/services/query/get-all-balances-account.go
  components/transaction/internal/services/query/get-all-balances-account_test.go
  components/transaction/internal/services/query/get-all-balances.go
  components/transaction/internal/services/query/get-all-balances_test.go
  components/transaction/internal/services/query/get-id-balance.go
  components/transaction/internal/services/query/get-id-balance_test.go
  go.mod
  go.sum
  pkg/constant/errors.go
  pkg/constant/http.go
  pkg/mmodel/account.go
  pkg/mmodel/asset.go
  pkg/mmodel/balance.go
  pkg/mmodel/ledger.go
  pkg/mmodel/organization.go
  pkg/mmodel/portfolio.go
  pkg/mmodel/segment.go
  postman/MIDAZ.postman_collection.json
Labels: feature, refactor, domain:transactions

#525 Feature/MIDAZ-517
  components/audit/docker-compose.yml
  components/infra/.env.example
  components/infra/docker-compose.yml
  components/infra/pgbouncer/pgbouncer.ini
  components/infra/pgbouncer/userlist.txt
  components/infra/rabbitmq/etc/definitions.json
  components/onboarding/.env.example
  components/transaction/.env.example
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/postgres/operation/operation.go
  components/transaction/internal/adapters/postgres/transaction/transaction.go
  components/transaction/internal/adapters/redis/consumer.redis.go
  components/transaction/internal/bootstrap/consumer.go
  components/transaction/internal/services/command/create-balance-transaction-operations-async.go
  components/transaction/internal/services/command/create-idempotency-key.go
  components/transaction/internal/services/command/create-operation.go
  components/transaction/internal/services/command/create-transaction.go
  components/transaction/internal/services/command/send-bto-execute-async.go
  components/transaction/internal/services/command/send-log-transaction-audit-queue.go
  components/transaction/internal/services/command/update-balance.go
  components/transaction/internal/services/query/get-balances.go
  components/transaction/migrations/000000_create_transaction_table.up.sql
  pkg/constant/account.go
  pkg/constant/transaction.go
  pkg/gold/transaction/model/validations.go
  pkg/mpostgres/postgres.go
  pkg/net/http/response.go
  pkg/net/http/withJWT.go
  pkg/stringUtils.go
  pkg/utils.go
Labels: feature, refactor, domain:portfolio, domain:transactions, infra, env

#529 Fature/MIDAZ-528
  .gitignore
  components/transaction/internal/adapters/postgres/balance/balance.postgresql.go
  components/transaction/internal/adapters/rabbitmq/consumer.rabbitmq.go
  pkg/mmodel/balance.go
Labels: bug, feature, refactor, domain:transactions

#531 Feature/MIDAZ-530
  components/audit/.env.example
  components/audit/internal/adapters/rabbitmq/consumer.rabbitmq.go
  components/audit/internal/bootstrap/consumer.go
  components/infra/rabbitmq/etc/definitions.json
  components/onboarding/.env.example
  components/transaction/.env.example
  components/transaction/internal/adapters/postgres/balance/balance.postgresql.go
  components/transaction/internal/adapters/rabbitmq/consumer.rabbitmq.go
  components/transaction/internal/bootstrap/config.go
  components/transaction/internal/bootstrap/consumer.go
  components/transaction/internal/services/command/create-balance-transaction-operations-async.go
  components/transaction/internal/services/command/send-bto-execute-async.go
Labels: bug, feature, refactor, domain:transactions, infra, env

#536 Feature/MIDAZ-535
  components/transaction/internal/adapters/postgres/balance/balance.mock.go
  components/transaction/internal/adapters/postgres/balance/balance.postgresql.go
  components/transaction/internal/services/command/update-balance.go
  pkg/gold/transaction/model/transaction.go
Labels: feature, domain:transactions, infra

#539 fix: because body field is json:"-" in transaction when do marshal fi…
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/postgres/transaction/transaction.go
  components/transaction/internal/services/command/create-balance-transaction-operations-async.go
  components/transaction/internal/services/command/send-bto-execute-async.go
Labels: bug

#541 fix/MIDAZ-540
  components/transaction/internal/services/command/create-balance-transaction-operations-async.go
  components/transaction/internal/services/command/create-balance.go
Labels: bug, domain:transactions

#544 Refactor/MDIAZ-543
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/env-vars-pr-notification.yml
  .github/workflows/midaz-update-repos.yml
  .github/workflows/update-env-version.yml
  Makefile
  STRUCTURE.md
  components/audit/.env.example
  components/audit/Dockerfile
  components/audit/Makefile
  components/audit/api/docs.go
  components/audit/api/openapi.yaml
  components/audit/api/swagger.json
  components/audit/api/swagger.yaml
  components/audit/cmd/app/main.go
  components/audit/db/init.sql
  components/audit/docker-compose.yml
  components/audit/internal/adapters/grpc/in/.keep
  components/audit/internal/adapters/grpc/out/trillian.grpc.go
  components/audit/internal/adapters/grpc/out/trillian.mock.go
  components/audit/internal/adapters/http/in/response.go
  components/audit/internal/adapters/http/in/routes.go
  components/audit/internal/adapters/http/in/swagger.go
  components/audit/internal/adapters/http/in/trillian.go
  components/audit/internal/adapters/http/out/.keep
  components/audit/internal/adapters/mongodb/audit/audit.go
  components/audit/internal/adapters/mongodb/audit/audit.mock.go
  components/audit/internal/adapters/mongodb/audit/audit.mongodb.go
  components/audit/internal/adapters/rabbitmq/consumer.mock.go
  components/audit/internal/adapters/rabbitmq/consumer.rabbitmq.go
  components/audit/internal/bootstrap/config.go
  components/audit/internal/bootstrap/consumer.go
  components/audit/internal/bootstrap/server.go
  components/audit/internal/bootstrap/service.go
  components/audit/internal/services/create-log.go
  components/audit/internal/services/create-log_test.go
  components/audit/internal/services/get-audit-info.go
  components/audit/internal/services/get-audit-info_test.go
  components/audit/internal/services/get-log-by-hash.go
  components/audit/internal/services/get-log-by-hash_test.go
  components/audit/internal/services/usecase.go
  components/audit/internal/services/validate-log-hash.go
  components/audit/internal/services/validate-log-hash_test.go
  components/infra/rabbitmq/etc/definitions.json
  components/transaction/.env.example
Labels: refactor, domain:transactions, infra, env

#548 Refactor/MIDAZ-547
  .github/pull_request_template.md
  .github/workflows/go-combined-analysis.yml
  Makefile
  chocolatey/tools/chocolateyinstall.ps1
  components/auth/.env.example
  components/auth/Makefile
  components/auth/docker-compose.yml
  components/auth/setup/00_init.sql
  components/auth/setup/init_data.json
  components/mdz/.env.example
  components/onboarding/.env.example
  components/onboarding/api/docs.go
  components/onboarding/api/openapi.yaml
  components/onboarding/api/swagger.json
  components/onboarding/api/swagger.yaml
  components/onboarding/internal/adapters/http/in/routes.go
  components/onboarding/internal/bootstrap/config.go
  components/transaction/.env.example
  components/transaction/api/docs.go
  components/transaction/api/openapi.yaml
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/internal/adapters/http/in/routes.go
  components/transaction/internal/bootstrap/config.go
  pkg/mcasdoor/casdoor.go
  pkg/mcasdoor/casdoor_test.go
  pkg/mcasdoor/certificates/token_jwt_key.pem
  pkg/net/http/withJWT.go
  postman/MIDAZ.postman_collection.json
Labels: refactor, domain:onboarding, domain:portfolio, domain:transactions, infra, env

#552 Feature/MIDAZ-551
  .github/workflows/build.yml
  components/infra/docker-compose.yml
Labels: feature, infra, env

#554 feat: add new implements to dockerfile and increase ttl on valkey;
  components/onboarding/Dockerfile
  components/transaction/Dockerfile
  components/transaction/internal/adapters/redis/consumer.redis.go
Labels: feature, infra

#556 Feature/MIDAZ-555
  components/onboarding/internal/adapters/rabbitmq/producer.rabbitmq.go
  components/transaction/internal/adapters/rabbitmq/consumer.rabbitmq.go
  components/transaction/internal/adapters/rabbitmq/producer.rabbitmq.go
Labels: feature, domain:onboarding, domain:transactions, infra

#558 Feature/MIDAZ-557
  components/onboarding/.env.example
  components/onboarding/Dockerfile
  components/onboarding/internal/bootstrap/config.go
  components/onboarding/migrations/000000_create_organization_table.up.sql
  components/onboarding/migrations/000001_create_ledger_table.up.sql
  components/onboarding/migrations/000002_create_asset_table.up.sql
  components/onboarding/migrations/000003_create_segment_table.up.sql
  components/onboarding/migrations/000004_create_portfolio_table.up.sql
  components/onboarding/migrations/000005_create_account_table.up.sql
  components/transaction/.env.example
  components/transaction/Dockerfile
  components/transaction/internal/bootstrap/config.go
  components/transaction/migrations/000000_create_transaction_table.up.sql
  components/transaction/migrations/000001_create_operation_table.up.sql
  components/transaction/migrations/000002_create_asset_rate_table.up.sql
  components/transaction/migrations/000003_create_balance_table.up.sql
  pkg/mmongo/mongo.go
  pkg/mopentelemetry/otel.go
  pkg/mpostgres/postgres.go
  pkg/mtrillian/trillian.go
Labels: feature, domain:transactions, infra, env
