Repository LerianStudio/midaz, pull requests merged in 2025-09, with the labels that each got.

#1287 Fix/improve collapsible component
  components/console/package-lock.json
  components/console/package.json
  components/console/src/components/page-header/collapsible-info.tsx
Labels: bug, front-end

#1292 feature/update axios lib
  components/console/package-lock.json
  components/console/package.json
Labels: dependencies, front-end

#1299 fix/bypass-vul
  .trivyignore
Labels: front-end

#1315 fix/margin y axis
  components/console/src/components/page-header/collapsible-info.tsx
Labels: front-end

#1346 fix: change runner in update_gitops step in build workflow to be able to access ArgoCD
  .github/workflows/build.yml
  components/transaction/Dockerfile
Labels: infra

#1352 chore: trigger e2e tests
  components/transaction/Dockerfile
Labels: test

#1348 Hotfix/midaz console setup
  components/console/.env.example
  components/console/src/core/infrastructure/config/services/menu-config-service.ts
  components/console/src/middleware.ts
  components/onboarding/.env.example
  components/transaction/.env.example
  components/transaction/internal/adapters/postgres/transaction/transaction.postgresql.go
Labels: front-end

#1360 fix: update tar-fs version to remove vulnarability and setup trivy scan in PR
  .github/workflows/pr-security-scan.yml
  components/console/package-lock.json
  components/console/package.json
Labels: security
