Repository LerianStudio/midaz, pull requests merged in 2025-05, with the labels that each got.

#734 Fix: Bug on Default Ledger behaviour
  components/console/locales/extracted/pt.json
  components/console/src/client/portfolios.ts
  components/console/src/client/transactions.ts
  components/console/src/client/users.ts
  components/console/src/providers/organization-provider/organization-provider-client.tsx
  components/console/src/providers/organization-provider/use-default-ledger.ts
Labels: bug

#741 Feature/MIDAZ-731
  components/onboarding/api/docs.go
  components/onboarding/api/openapi.yaml
  components/onboarding/api/swagger.json
  components/onboarding/api/swagger.yaml
  components/onboarding/internal/services/command/create-account.go
  components/onboarding/internal/services/command/create-account_test.go
  pkg/mmodel/account.go
Labels: feature, refactor

#744 Feature/MDC-306
  components/console/locales/extracted/en.json
  components/console/locales/extracted/pt.json
  components/console/src/app/(routes)/settings/organizations-tab-content.tsx
  components/console/src/app/(routes)/transactions/transactions-data-table.tsx
  components/console/src/client/organizations.ts
  components/console/src/components/settings-dropdown/index.tsx
  components/console/src/components/ui/table/index.tsx
  components/console/src/core/application/dto/organization-dto.ts
  components/console/src/core/application/mappers/organization-mapper.ts
  components/console/src/core/domain/entities/metadata-entity.ts
  components/console/src/core/domain/entities/organization-entity.ts
  components/console/src/core/infrastructure/midaz/dto/midaz-address-dto.ts
  components/console/src/core/infrastructure/midaz/dto/midaz-metadata-dto.ts
  components/console/src/core/infrastructure/midaz/dto/midaz-organization-dto.ts
  components/console/src/core/infrastructure/midaz/dto/midaz-pagination-dto.ts
  components/console/src/core/infrastructure/midaz/dto/midaz-status-dto.ts
  components/console/src/core/infrastructure/midaz/mappers/midaz-organization-mapper.ts
  components/console/src/core/infrastructure/midaz/mappers/midaz-pagination-mapper.test.ts
  components/console/src/core/infrastructure/midaz/mappers/midaz-pagination-mapper.ts
  components/console/src/core/infrastructure/midaz/repositories/midaz-organization-repository.ts
  components/console/src/providers/organization-provider/index.tsx
Labels: front-end

#788 #679
  components/transaction/api/docs.go
  components/transaction/api/openapi.yaml
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/internal/adapters/http/in/operation.go
  components/transaction/internal/adapters/postgres/operation/operation.go
  components/transaction/internal/adapters/postgres/operation/operation.postgresql.go
  components/transaction/internal/adapters/postgres/operation/operation.postgresql_mock.go
  components/transaction/internal/services/query/get-all-operations-account.go
  components/transaction/internal/services/query/get-all-operations-account_test.go
  components/transaction/internal/services/query/get-id-operation-account_test.go
  pkg/net/http/httputils.go
  postman/MIDAZ.postman_collection.json
Labels: feature, don't merge, domain:transactions

#794 feat: Support multiple transactions with the same account in From/To fields;
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/rabbitmq/producer.rabbitmq.go
  components/transaction/internal/services/query/get-balances.go
  components/transaction/internal/services/query/get-balances_test.go
  go.mod
  go.sum
Labels: bug, feature, don't merge, domain:transactions

#796 Feature/MIDAZ-792
  components/onboarding/api/docs.go
  components/onboarding/api/openapi.yaml
  components/onboarding/api/swagger.json
  components/onboarding/api/swagger.yaml
  components/onboarding/internal/adapters/http/in/account.go
  components/onboarding/internal/adapters/http/in/routes.go
  components/transaction/internal/bootstrap/config.go
  pkg/constant/asset_transaction.go
  postman/MIDAZ.postman_collection.json
Labels: feature, domain:onboarding

#801 fix/MIDAZ-702
  pkg/constant/account.go
  pkg/constant/errors.go
  pkg/errors.go
  pkg/mmodel/account.go
  pkg/mmodel/asset.go
  pkg/net/http/withBody.go
Labels: bug, feature, domain:onboarding

#806 feature/MIDAZ-805
  components/onboarding/api/docs.go
  components/onboarding/api/openapi.yaml
  components/onboarding/api/swagger.json
  components/onboarding/api/swagger.yaml
  components/transaction/api/docs.go
  components/transaction/api/openapi.yaml
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/internal/adapters/http/in/balance.go
  components/transaction/internal/adapters/http/in/routes.go
  components/transaction/internal/services/query/get-all-balances.go
  components/transaction/internal/services/query/get-all-balances_test.go
  go.mod
  go.sum
  postman/MIDAZ.postman_collection.json
Labels: feature, domain:transactions, go

#825 Fix/MIDAZ-814
  components/onboarding/docker-compose.yml
  components/transaction/docker-compose.yml
  components/transaction/internal/adapters/postgres/balance/balance.postgresql.go
  components/transaction/internal/adapters/redis/consumer.redis.go
  components/transaction/internal/services/command/update-balance.go
  go.mod
  go.sum
  pkg/constant/errors.go
  pkg/errors.go
  pkg/net/http/errors.go
Labels: bug, domain:transactions, back-end

#823 fix console build
  components/console/src/lib/fetcher/index.ts
Labels: front-end

#804 Feature/mdc 770
  components/console/locales/extracted/en.json
  components/console/locales/extracted/pt.json
  components/console/src/app/(routes)/accounts/accounts-data-table.tsx
  components/console/src/app/(routes)/accounts/accounts-sheet.tsx
  components/console/src/app/(routes)/assets/assets-data-table.tsx
  components/console/src/app/(routes)/assets/assets-sheet.tsx
  components/console/src/app/(routes)/ledgers/ledgers-data-table.tsx
  components/console/src/app/(routes)/ledgers/ledgers-sheet.tsx
  components/console/src/app/(routes)/portfolios/portfolios-data-table.tsx
  components/console/src/app/(routes)/portfolios/portfolios-sheet.tsx
  components/console/src/app/(routes)/segments/segments-data-table.tsx
  components/console/src/app/(routes)/segments/segments-sheet.tsx
  components/console/src/app/(routes)/settings/organizations-tab-content.tsx
  components/console/src/app/(routes)/settings/organizations/organizations-form-avatar-field.tsx
  components/console/src/app/(routes)/settings/organizations/organizations-form-color-field.tsx
  components/console/src/app/(routes)/settings/organizations/organizations-form-parent-id-field.tsx
  components/console/src/app/(routes)/settings/organizations/organizations-form.tsx
  components/console/src/app/(routes)/settings/users/users-create-form.tsx
  components/console/src/app/(routes)/settings/users/users-edit-form.tsx
  components/console/src/app/(routes)/settings/users/users-sheet.tsx
  components/console/src/app/(routes)/settings/users/users-tab-content.tsx
  components/console/src/components/form/combo-box-field/index.tsx
  components/console/src/components/form/currency-field/index.tsx
  components/console/src/components/form/metadata-field/index.tsx
  components/console/src/components/form/metadata-field/metadata-input.tsx
  components/console/src/components/form/metadata-field/metadata-preview.tsx
  components/console/src/components/form/select-field/index.tsx
  components/console/src/components/form/state-field/index.tsx
  components/console/src/components/ui/autosize-textarea/index.tsx
  components/console/src/components/ui/button/index.tsx
  components/console/src/components/ui/input/index.tsx
  components/console/src/components/ui/multiple-select/index.tsx
  components/console/src/components/ui/progress/index.tsx
  components/console/src/components/ui/select/index.tsx
  components/console/src/components/ui/textarea/index.tsx
  components/console/src/components/user-dropdown/user-sheet.tsx
  components/console/src/core/application/use-cases/accounts-with-portfolios/fetch-accounts-with-portfolios-use-case.ts
  components/console/src/core/infrastructure/midaz/dto/midaz-account-dto.ts
  components/console/src/core/infrastructure/midaz/mappers/midaz-account-mapper.ts
  components/console/src/core/infrastructure/midaz/repositories/midaz-account-repository.ts
  components/console/src/hooks/use-form-permissions.ts
  components/console/src/providers/permission-provider/enforce.tsx
  components/console/src/schema/account.ts
Labels: front-end

#824 Feature/MDC-753-2
  components/console/src/app/api/organizations/[id]/ledgers/[ledgerId]/accounts/route.ts
  components/console/src/client/accounts.ts
  components/console/src/components/ui/autocomplete/autocomplete.mdx
  components/console/src/components/ui/autocomplete/autocomplete.stories.tsx
  components/console/src/components/ui/autocomplete/index.tsx
  components/console/src/components/ui/stepper/index.tsx
  components/console/src/core/application/dto/account-dto.ts
  components/console/src/core/application/dto/portfolio-dto.ts
  components/console/src/core/application/dto/request-dto.ts
  components/console/src/core/application/mappers/account-mapper.ts
  components/console/src/core/application/use-cases/accounts-with-portfolios/fetch-accounts-with-portfolios-use-case.ts
  components/console/src/core/application/use-cases/accounts/create-account-use-case.ts
  components/console/src/core/application/use-cases/accounts/fetch-account-by-id-use-case.ts
  components/console/src/core/application/use-cases/accounts/fetch-all-account-use-case.ts
  components/console/src/core/application/use-cases/accounts/update-account-use-case.ts
  components/console/src/core/application/use-cases/portfolios-with-accounts/fetch-portfolios-with-account-use-case.tsx
  components/console/src/core/domain/repositories/account-repository.ts
  components/console/src/core/infrastructure/midaz/mappers/midaz-account-mapper.ts
  components/console/src/core/infrastructure/midaz/repositories/midaz-account-repository.ts
  components/console/src/lib/fetcher/index.ts
  components/console/src/types/portfolio-type.ts
  components/console/tsconfig.json
Labels: front-end

#828 fix/adjust-linter
  components/mdz/Makefile
  components/onboarding/Makefile
  components/transaction/Makefile
  components/transaction/internal/adapters/postgres/assetrate/assetrate.go
  components/transaction/internal/services/query/get-all-metadata-transactions_test.go
  go.mod
  go.sum
Labels: feature, domain:onboarding, domain:transactions, infra, back-end

#834 feature/MIDAZ-831
  components/transaction/api/docs.go
  components/transaction/api/openapi.yaml
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/internal/adapters/http/in/routes.go
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/postgres/transaction/transaction.go
  postman/MIDAZ.postman_collection.json
Labels: feature, released on @develop, feature request, domain:transactions, back-end

#827 Feature/MDC-753-3
  components/console/locales/extracted/en.json
  components/console/locales/extracted/pt.json
  components/console/package-lock.json
  components/console/src/app/(routes)/accounts/accounts-data-table.tsx
  components/console/src/app/(routes)/transactions/[transactionId]/page.tsx
  components/console/src/app/(routes)/transactions/create/components/account-balance-card.tsx
  components/console/src/app/(routes)/transactions/create/components/account-balance-list.tsx
  components/console/src/app/(routes)/transactions/create/components/account-search-field.tsx
  components/console/src/app/(routes)/transactions/create/components/account-without-balance-modal.tsx
  components/console/src/app/(routes)/transactions/create/components/basic-information-paper.tsx
  components/console/src/app/(routes)/transactions/create/components/metadata-accordion.tsx
  components/console/src/app/(routes)/transactions/create/components/operation-accordion.tsx
  components/console/src/app/(routes)/transactions/create/components/operation-source-simple-field.tsx
  components/console/src/app/(routes)/transactions/create/components/operation-sum.tsx
  components/console/src/app/(routes)/transactions/create/components/stepper.tsx
  components/console/src/app/(routes)/transactions/create/components/transaction-mode-modal.tsx
  components/console/src/app/(routes)/transactions/create/hooks/use-account.tsx
  components/console/src/app/(routes)/transactions/create/hooks/use-transaction-form-control.test.ts
  components/console/src/app/(routes)/transactions/create/hooks/use-transaction-form-control.ts
  components/console/src/app/(routes)/transactions/create/hooks/use-transaction-form-errors.test.tsx
  components/console/src/app/(routes)/transactions/create/hooks/use-transaction-form-errors.ts
  components/console/src/app/(routes)/transactions/create/hooks/use-transaction-mode.tsx
  components/console/src/app/(routes)/transactions/create/layout.tsx
  components/console/src/app/(routes)/transactions/create/operation-source-field.tsx
  components/console/src/app/(routes)/transactions/create/page.tsx
  components/console/src/app/(routes)/transactions/create/primitives/index.tsx
  components/console/src/app/(routes)/transactions/create/schemas.ts
  components/console/src/app/(routes)/transactions/create/transaction-complex-form.tsx
  components/console/src/app/(routes)/transactions/create/transaction-form-provider.tsx
  components/console/src/app/(routes)/transactions/create/transaction-form.tsx
  components/console/src/app/(routes)/transactions/create/transaction-review.tsx
  components/console/src/app/(routes)/transactions/create/transaction-simple-form.tsx
  components/console/src/app/(routes)/transactions/create/use-transaction-form-control.test.ts
  components/console/src/app/(routes)/transactions/create/use-transaction-form-control.ts
  components/console/src/app/(routes)/transactions/create/use-transaction-form-errors.test.ts
  components/console/src/app/(routes)/transactions/create/use-transaction-form-errors.ts
  components/console/src/app/(routes)/transactions/layout.tsx
  components/console/src/app/(routes)/transactions/page.tsx
  components/console/src/components/transactions/primitives/transaction-receipt.tsx
  components/console/src/components/transactions/transaction-mode-button.tsx
  components/console/src/core/infrastructure/midaz/config/config.ts
  components/console/src/core/infrastructure/midaz/repositories/midaz-account-repository.ts
  components/console/src/utils/country-utils.test.ts
Labels: front-end

#832 Feature/mdc 775
  components/console/.env.example
  components/console/.env.local.example
  components/console/locales/extracted/en.json
  components/console/locales/extracted/pt.json
  components/console/src/app/(routes)/settings/applications/applications-create-form.tsx
  components/console/src/app/(routes)/settings/applications/applications-details-form.tsx
  components/console/src/app/(routes)/settings/applications/applications-security-alert.tsx
  components/console/src/app/(routes)/settings/applications/applications-sheet.tsx
  components/console/src/app/(routes)/settings/applications/applications-tab-content.tsx
  components/console/src/app/(routes)/settings/page.tsx
  components/console/src/app/(routes)/settings/users/users-tab-content.tsx
  components/console/src/app/api/identity/applications/[applicationId]/route.ts
  components/console/src/app/api/identity/applications/route.ts
  components/console/src/client/applications.ts
  components/console/src/components/entity-box/index.tsx
  components/console/src/components/form/copyable-input-field.tsx
  components/console/src/components/form/index.tsx
  components/console/src/components/table/copyable-table-cell.tsx
  components/console/src/schema/application.ts
Labels: front-end

#841 fix/MIDAZ-840
  components/transaction/internal/adapters/http/in/transaction.go
Labels: bug

#881 feature/MIDAZ-859
  components/onboarding/api/docs.go
  components/onboarding/api/openapi.yaml
  components/onboarding/api/swagger.json
  components/onboarding/api/swagger.yaml
  components/onboarding/internal/adapters/http/in/ledger.go
  components/onboarding/internal/adapters/http/in/organization.go
  components/onboarding/internal/adapters/http/in/routes.go
  components/onboarding/internal/adapters/postgres/ledger/ledger.postgresql.go
  components/onboarding/internal/adapters/postgres/ledger/ledger.postgresql_mock.go
  components/onboarding/internal/services/query/count-ledgers.go
  components/onboarding/internal/services/query/count-ledgers_test.go
  postman/MIDAZ.postman_collection.json
Labels: feature, feature request, domain:onboarding, back-end

#869 Feature/MDC-867
  components/console/src/app/(routes)/accounts/page.tsx
  components/console/src/app/(routes)/assets/page.tsx
  components/console/src/app/(routes)/portfolios/page.tsx
  components/console/src/app/(routes)/segments/page.tsx
  components/console/src/app/(routes)/transactions/page.tsx
  components/console/src/providers/organization-provider/organization-provider-client.tsx
Labels: front-end

#891 feature/MIDAZ-861
  components/onboarding/api/docs.go
  components/onboarding/api/openapi.yaml
  components/onboarding/api/swagger.json
  components/onboarding/api/swagger.yaml
  components/onboarding/internal/adapters/http/in/portfolio.go
  components/onboarding/internal/adapters/http/in/routes.go
  components/onboarding/internal/adapters/postgres/portfolio/portfolio.postgresql.go
  components/onboarding/internal/adapters/postgres/portfolio/portfolio.postgresql_mock.go
  components/onboarding/internal/services/query/count-portfolios.go
  components/onboarding/internal/services/query/count-portfolios_test.go
  postman/MIDAZ.postman_collection.json
Labels: feature, feature request, domain:onboarding, back-end

#868 Feature/MDC-866
  components/console/locales/extracted/en.json
  components/console/locales/extracted/pt.json
  components/console/src/app/(routes)/accounts/accounts-sheet.tsx
  components/console/src/app/(routes)/settings/organizations-tab-content.tsx
Labels: front-end

#882 Fix/mdc 850
  components/console/src/app/(routes)/settings/organizations/organizations-form-parent-id-field.tsx
  components/console/src/app/(routes)/settings/organizations/organizations-form.tsx
Labels: bug, front-end

#894 feat(ui): implement local Inter font for improved performance
  components/console/public/fonts/inter-variable.woff2
  components/console/src/app/globals.css
  components/console/src/app/layout.tsx
  components/console/tailwind.config.ts
  components/console/tsconfig.json
Labels: front-end

#902 feature/MIDAZ-862
  components/onboarding/api/docs.go
  components/onboarding/api/openapi.yaml
  components/onboarding/api/swagger.json
  components/onboarding/api/swagger.yaml
  components/onboarding/internal/adapters/http/in/routes.go
  components/onboarding/internal/adapters/http/in/segment.go
  components/onboarding/internal/adapters/postgres/segment/segment.postgresql.go
  components/onboarding/internal/adapters/postgres/segment/segment.postgresql_mock.go
  components/onboarding/internal/services/query/count-segments.go
  components/onboarding/internal/services/query/count-segments_test.go
  postman/MIDAZ.postman_collection.json
Labels: documentation, feature request, domain:onboarding, back-end

#903 feature/MIDAZ-863
  components/onboarding/api/docs.go
  components/onboarding/api/openapi.yaml
  components/onboarding/api/swagger.json
  components/onboarding/api/swagger.yaml
  components/onboarding/internal/adapters/http/in/account.go
  components/onboarding/internal/adapters/http/in/routes.go
  components/onboarding/internal/adapters/postgres/account/account.postgresql.go
  components/onboarding/internal/adapters/postgres/account/account.postgresql_mock.go
  components/onboarding/internal/services/query/count-accounts.go
  components/onboarding/internal/services/query/count-accounts_test.go
  postman/MIDAZ.postman_collection.json
Labels: documentation, released on @develop, feature request, domain:onboarding, back-end

#914 fix/MIDAZ-913
  .gitignore
  components/onboarding/api/docs.go
  components/onboarding/api/openapi.yaml
  components/onboarding/api/swagger.json
  components/onboarding/api/swagger.yaml
  components/onboarding/internal/adapters/postgres/account/account.postgresql.go
  components/onboarding/internal/services/command/update-account.go
  pkg/mmodel/account.go
  postman/MIDAZ.postman_collection.json
Labels: bug, domain:onboarding, back-end

#916 Fix/MDC-781-912
  components/console/src/app/(routes)/accounts/accounts-sheet.tsx
  components/console/src/app/(routes)/assets/assets-sheet.tsx
  components/console/src/app/(routes)/ledgers/ledgers-sheet.tsx
  components/console/src/app/(routes)/portfolios/portfolios-sheet.tsx
  components/console/src/app/(routes)/settings/organizations-tab-content.tsx
  components/console/src/client/organizations.ts
  components/console/src/providers/organization-provider/organization-provider-client.tsx
  components/console/src/providers/organization-provider/use-default-org.ts
Labels: front-end

#917 fix/MDC-906
  components/console/src/app/(routes)/accounts/accounts-sheet.tsx
Labels: front-end

#929 feat(install): comprehensive security hardening and UX improvements
  install.sh
Labels: infra, env, back-end

#910 ✨ Feature: First controller development
  chocolatey/tools/chocolateyinstall.ps1
  components/console/src/app/api/organizations/[id]/ledgers/[ledgerId]/segments/[segmentId]/route.ts
  components/console/src/app/api/organizations/[id]/ledgers/[ledgerId]/segments/route.ts
  components/console/src/core/application/controllers/segment-controller.ts
  components/console/src/core/infrastructure/container-registry/container-registry.ts
  components/console/src/core/infrastructure/container-registry/controllers/controllers-module.ts
  components/console/src/lib/http/api-exception.ts
  components/console/src/lib/http/decorators/controller-decorator.ts
  components/console/src/lib/http/decorators/index.ts
  components/console/src/lib/http/get-controller.ts
  components/console/src/lib/logger/decorators/controller-log-decorator.ts
  components/console/src/lib/logger/decorators/index.ts
  components/console/src/lib/logger/index.ts
  components/console/src/lib/zod/decorators/validate-zod.ts
  components/mdz/.env.example
  components/onboarding/.env.example
  components/transaction/.env.example
Labels: wontfix, don't merge
