Repository LerianStudio/midaz, pull requests merged in 2025-06, with the labels that each got.

#952 Feature/set workflows
  .github/workflows/console-combined-analysis.yml
  .github/workflows/go-combined-analysis.yml
  .github/workflows/lighthouse-ci.yaml
  .releaserc.yml
  chocolatey/tools/chocolateyinstall.ps1
  components/console/.env.example
  components/mdz/.env.example
  components/onboarding/.env.example
  components/package-lock.json
  components/package.json
  components/transaction/.env.example
Labels: infra

#985 Feat/implements multi zone
  chocolatey/tools/chocolateyinstall.ps1
  components/console/.env.example
  components/console/.env.local.example
  components/console/docker-compose.yml
  components/mdz/.env.example
  components/onboarding/.env.example
  components/transaction/.env.example
Labels: infra, front-end

#1004 Feat/MIDAZ-992
  components/transaction/internal/adapters/http/in/routes.go
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/postgres/transaction/transaction.go
  components/transaction/internal/services/command/create-balance-transaction-operations-async.go
  components/transaction/internal/services/command/create-transaction.go
  components/transaction/internal/services/command/update-transaction.go
  pkg/constant/errors.go
  pkg/errors.go
Labels: feature, don't merge, feature request, domain:transactions, go, back-end

#1005 Feat/MIDAZ-993
  .github/workflows/packages-manager.yml
  components/transaction/api/docs.go
  components/transaction/api/openapi.yaml
  components/transaction/api/swagger.json
  components/transaction/api/swagger.yaml
  components/transaction/internal/adapters/http/in/transaction.go
  postman/MIDAZ.postman_collection.json
Labels: feature, don't merge, feature request, domain:transactions, go, back-end

#1008 Feature/MDC-1006
  components/console/.env.local.example
  components/console/.storybook/main.ts
  components/console/.storybook/storybook.css
  components/console/package-lock.json
  components/console/package.json
  components/console/src/app/(routes)/ledgers/asset-table-cell.tsx
  components/console/src/app/(routes)/ledgers/ledgers-data-table.tsx
  components/console/src/app/(routes)/ledgers/page.tsx
  components/console/src/components/entity-data-table/entity-data-table.mdx
  components/console/src/components/entity-data-table/entity-data-table.stories.tsx
  components/console/src/components/entity-data-table/index.tsx
  components/console/src/components/sidebar/primitive/sidebar-root.tsx
  components/console/src/components/table/id-table-cell.tsx
  components/console/src/components/table/name-table-cell.tsx
  components/console/src/components/ui/table/index.tsx
  components/console/src/components/ui/table/table.mdx
  components/console/src/components/ui/tooltip/index.tsx
  components/console/src/core/application/dto/ledger-dto.ts
  components/console/src/core/application/use-cases/ledgers-assets/fetch-ledger-assets-use-case.ts
  components/console/src/core/infrastructure/midaz-plugins/identity/services/identity-http-service.ts
  components/console/src/core/infrastructure/midaz/services/midaz-http-service.ts
  components/console/src/lib/fetcher/index.ts
Labels: front-end

#1017 fix/MDZ-1002
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/postgres/transaction/transaction.postgresql.go
  components/transaction/internal/adapters/postgres/transaction/transaction.postgresql_mock.go
  components/transaction/internal/adapters/postgres/transaction/transaction.postgresql_test.go
  components/transaction/internal/services/query/get-all-metadata-transactions.go
  components/transaction/internal/services/query/get-all-metadata-transactions_test.go
  components/transaction/internal/services/query/get-all-transactions.go
  components/transaction/internal/services/query/get-all-transactions_test.go
  go.mod
  go.sum
Labels: bug, test, don't merge, domain:transactions, go, back-end
