Repository LerianStudio/midaz, pull requests merged in 2025-07, with the labels that each got.

#1024 Feat/MDZ-1023
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/services/command/create-idempotency-key.go
  components/transaction/internal/services/command/create-idempotency-key_test.go
  go.mod
  go.sum
  pkg/errors.go
Labels: don't merge, refactor, domain:transactions, go, back-end

#1028 fix/adjust-releasserc
  .releaserc.yml
Labels: bug, infra, back-end

#1030 feat/MDZ-1027
  chocolatey/tools/chocolateyinstall.ps1
  components/console/.env.example
  components/infra/rabbitmq/etc/definitions.json
  components/mdz/.env.example
  components/onboarding/.env.example
  components/transaction/.env.example
  components/transaction/internal/adapters/rabbitmq/producer.rabbitmq.go
  components/transaction/internal/adapters/rabbitmq/producer.rabbitmq_mock.go
  components/transaction/internal/bootstrap/config.go
  components/transaction/internal/services/command/create-balance-transaction-operations-async.go
  components/transaction/internal/services/command/create-balance-transaction-operations-async_test.go
  components/transaction/internal/services/command/send-bto-execute-async.go
  components/transaction/internal/services/command/send-log-transaction-audit-queue.go
  components/transaction/internal/services/command/send-transaction-events.go
  components/transaction/internal/services/command/send-transaction-events_test.go
  pkg/mmodel/queue.go
Labels: feature, don't merge, domain:transactions, infra, env, go, back-end

#1036 Feature/MDC-780
  components/console/locales/extracted/en.json
  components/console/locales/extracted/pt.json
  components/console/public/svg/banner.svg
  components/console/public/svg/grafismo.svg
  components/console/src/app/(routes)/metric-section.tsx
  components/console/src/app/(routes)/page.tsx
  components/console/src/app/api/home/metrics/route.ts
  components/console/src/client/home.ts
  components/console/src/core/application/controllers/home-controller.ts
  components/console/src/core/application/dto/home-metrics-dto.ts
  components/console/src/core/application/use-cases/home/fetch-home-metrics-use-case.ts
  components/console/src/core/domain/entities/home-metrics-entity.ts
  components/console/src/core/domain/repositories/account-repository.ts
  components/console/src/core/domain/repositories/asset-repository.ts
  components/console/src/core/domain/repositories/portfolio-repository.ts
  components/console/src/core/domain/repositories/segment-repository.ts
  components/console/src/core/infrastructure/container-registry/controllers/controllers-module.ts
  components/console/src/core/infrastructure/container-registry/use-cases/home-module.ts
  components/console/src/core/infrastructure/container-registry/use-cases/use-cases-module.ts
  components/console/src/core/infrastructure/midaz/repositories/midaz-account-repository.ts
  components/console/src/core/infrastructure/midaz/repositories/midaz-asset-repository.ts
  components/console/src/core/infrastructure/midaz/repositories/midaz-portfolio-repository.ts
  components/console/src/core/infrastructure/midaz/repositories/midaz-segment-repository.ts
  components/console/src/core/infrastructure/midaz/services/midaz-http-service.ts
  components/console/src/lib/http/http-service.ts
Labels: front-end

#1042 Feat/MDZ-1034
  components/transaction/internal/adapters/http/in/operation.go
  components/transaction/internal/services/query/get-all-metadata-operations.go
  components/transaction/internal/services/query/get-all-metadata-operations_test.go
  components/transaction/internal/services/query/get-all-metadata-transaction-routes.go
  components/transaction/internal/services/query/get-all-metadata-transaction-routes_test.go
  go.mod
  go.sum
Labels: feature, don't merge, feature request, domain:transactions, go, back-end

#1064 feat: Implemented cors tampering for development
  components/console/package-lock.json
  components/console/package.json
  components/console/src/lib/masterMiddleware/apply-middleware.test.ts
  components/console/src/lib/masterMiddleware/apply-middleware.ts
  components/console/src/lib/masterMiddleware/checkWhitelist.test.ts
  components/console/src/lib/masterMiddleware/checkWhitelist.ts
  components/console/src/lib/masterMiddleware/index.ts
  components/console/src/lib/masterMiddleware/types.ts
  components/console/src/middleware.ts
  components/console/src/middlewares/corsMiddleware.ts
Labels: front-end

#1056 Feat/MDZ-1055
  components/onboarding/Dockerfile
  components/onboarding/internal/adapters/rabbitmq/producer.rabbitmq.go
  components/onboarding/internal/bootstrap/fiber.server.go
  components/onboarding/internal/bootstrap/service.go
  components/transaction/Dockerfile
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/adapters/rabbitmq/producer.rabbitmq.go
  components/transaction/internal/adapters/redis/consumer.redis.go
  components/transaction/internal/adapters/redis/consumer.redis_mock.go
  components/transaction/internal/adapters/redis/message.go
  components/transaction/internal/bootstrap/config.go
  components/transaction/internal/bootstrap/fiber.server.go
  components/transaction/internal/bootstrap/rabbitmq.server.go
  components/transaction/internal/bootstrap/redis.server.go
  components/transaction/internal/bootstrap/service.go
  components/transaction/internal/services/command/create-balance-transaction-operations-async.go
  components/transaction/internal/services/command/create-balance-transaction-operations-async_test.go
  components/transaction/internal/services/command/create-idempotency-key.go
  components/transaction/internal/services/command/create-idempotency-key_test.go
  components/transaction/internal/services/command/send-bto-execute-async.go
  components/transaction/internal/services/command/send-bto-execute-async_test.go
  go.mod
  go.sum
Labels: feature, domain:transactions, go, back-end

#1089 feat(onboarding): add validation for account type keyValue field
  components/transaction/internal/adapters/redis/message.go
  components/transaction/internal/bootstrap/redis.server.go
  components/transaction/internal/services/command/send-bto-execute-async.go
  pkg/constant/errors.go
  pkg/errors.go
  pkg/mmodel/account-type.go
  pkg/net/http/withBody.go
Labels: feature, don't merge, domain:transactions, back-end

#1102 Feat/MDZ-REDIS-CONFIG
  components/onboarding/.env.example
  components/onboarding/internal/bootstrap/config.go
  components/transaction/.env.example
  components/transaction/internal/adapters/http/in/transaction.go
  components/transaction/internal/bootstrap/config.go
  components/transaction/internal/services/command/send-bto-execute-async.go
Labels: feature, don't merge, domain:onboarding, domain:transactions, infra, env, go, back-end

#1126 Fix/MDZ-1121
  .gitignore
  components/infra/docker-compose.yml
  components/onboarding/internal/adapters/postgres/account/account.postgresql.go
  components/transaction/internal/adapters/redis/consumer.redis.go
  components/transaction/internal/adapters/redis/consumer.redis_mock.go
  components/transaction/internal/bootstrap/config.go
  components/transaction/internal/bootstrap/redis.server.go
  components/transaction/internal/bootstrap/service.go
  components/transaction/internal/services/command/create-balance-transaction-operations-async.go
  components/transaction/internal/services/command/create-balance-transaction-operations-async_test.go
  components/transaction/internal/services/command/send-bto-execute-async.go
  components/transaction/internal/services/command/send-bto-execute-async_test.go
  go.mod
  go.sum
Labels: bug, don't merge, domain:transactions, env, back-end
